$small : 0.9;

.android320 .googleReviewMoreWrap{
  background-color: #ffffff;
  width: 330*$small;
  margin-top: 15*$small;
  margin-left: 15*$small;
  margin-right: 15*$small;
  border-color: #eeeeee;
}
.android320 .googleReviewMoreRatingWrap{
  width: 265*$small;
  margin-left: 15*$small;
  margin-top: 14*$small;
}
.android320 .googleReviewMoreRating{
  width: 18*$small;
  height: 18*$small;
  margin-left: 1*$small;
}
.android320 .googleReviewMoreDate{
  margin-top: 11*$small;
  color: #888888;
  font-family: nanumsquareroundb;
  font-size: 12*$small;
}
.android320 .googleReviewMoreContentsWrap{
  padding-left: 15*$small;
  padding-right: 10*$small;
}
.android320 .googleReviewMoreContents{
  background-color: #ffffff;
  border-width: 0*$small;
  color: #333333;
  font-family: nanumsquareroundb;
  line-height:5*$small;
  font-size: 12*$small;

}
.android320 .googleReviewMoreBottomWrap{
  margin-left: 15*$small;
  margin-bottom: 15*$small;
}
.android320 .googleReviewMorePictureWrap{
  width: 70*$small;
  height: 70*$small;
}
.android320 .googleReviewMorePictureWrap1{
  width: 70*$small;
  height: 70*$small;
  margin-left: 7*$small;
}
.android320 .googleReviewMorePicture{
  width: 70*$small;
  height: 70*$small;
  border-radius: 8*$small;
}
.android320 .googleReviewMorePicture1{
  width: 70*$small;
  height: 70*$small;
}

