.android360 .googleReviewMoreWrap{
  background-color: #ffffff;
  width: 330;
  margin-top: 15;
  margin-left: 15;
  margin-right: 15;
  border-color: #eeeeee;
}
.android360 .googleReviewMoreRatingWrap{
  width: 265;
  margin-left: 15;
  margin-top: 14;
}
.android360 .googleReviewMoreRating{
  width: 18;
  height: 18;
  margin-left: 1;
}
.android360 .googleReviewMoreDate{
  margin-top: 11;
  color: #888888;
  font-family: nanumsquareroundb;
  font-size: 12;
}
.android360 .googleReviewMoreContentsWrap{
  padding-left: 15;
  padding-right: 10;
}
.android360 .googleReviewMoreContents{
  background-color: #ffffff;
  border-width: 0;
  color: #333333;
  font-family: nanumsquareroundb;
  line-height:5;
  font-size: 12;

}
.android360 .googleReviewMoreBottomWrap{
  margin-left: 15;
  margin-bottom: 15;
}
.android360 .googleReviewMorePictureWrap{
  width: 70;
  height: 70;
}
.android360 .googleReviewMorePictureWrap1{
  width: 70;
  height: 70;
  margin-left: 7;
}
.android360 .googleReviewMorePicture{
  width: 70;
  height: 70;
  border-radius: 8;
}
