$medium : 1.142;

.android400 .googleReviewMoreWrap{
  background-color: #ffffff;
  width: 330*$medium;
  margin-top: 15*$medium;
  margin-left: 15*$medium;
  margin-right: 15*$medium;
  border-color: #eeeeee;
}
.android400 .googleReviewMoreRatingWrap{
  width: 265*$medium;
  margin-left: 15*$medium;
  margin-top: 14*$medium;
}
.android400 .googleReviewMoreRating{
  width: 18*$medium;
  height: 18*$medium;
  margin-left: 1*$medium;
}
.android400 .googleReviewMoreDate{
  margin-top: 11*$medium;
  color: #888888;
  font-family: nanumsquareroundb;
  font-size: 12*$medium;
}
.android400 .googleReviewMoreContentsWrap{
  padding-left: 15*$medium;
  padding-right: 10*$medium;
}
.android400 .googleReviewMoreContents{
  background-color: #ffffff;
  border-width: 0*$medium;
  color: #333333;
  font-family: nanumsquareroundb;
  line-height:5*$medium;
  font-size: 12*$medium;

}
.android400 .googleReviewMoreBottomWrap{
  margin-left: 15*$medium;
  margin-bottom: 15*$medium;
}
.android400 .googleReviewMorePictureWrap{
  width: 70*$medium;
  height: 70*$medium;
}
.android400 .googleReviewMorePictureWrap1{
  width: 70*$medium;
  height: 70*$medium;
  margin-left: 7*$medium;
}
.android400 .googleReviewMorePicture{
  width: 70*$medium;
  height: 70*$medium;
  border-radius: 8*$medium;
}
.android400 .googleReviewMorePicture1{
  width: 70*$medium;
  height: 70*$medium;
}

