$large : 1.142;

.android480 .googleReviewMoreWrap{
  background-color: #ffffff;
  width: 330*$large;
  margin-top: 15*$large;
  margin-left: 15*$large;
  margin-right: 15*$large;
  border-color: #eeeeee;
}
.android480 .googleReviewMoreRatingWrap{
  width: 265*$large;
  margin-left: 15*$large;
  margin-top: 14*$large;
}
.android480 .googleReviewMoreRating{
  width: 18*$large;
  height: 18*$large;
  margin-left: 1*$large;
}
.android480 .googleReviewMoreDate{
  margin-top: 11*$large;
  color: #888888;
  font-family: nanumsquareroundb;
  font-size: 12*$large;
}
.android480 .googleReviewMoreContentsWrap{
  padding-left: 15*$large;
  padding-right: 10*$large;
}
.android480 .googleReviewMoreContents{
  background-color: #ffffff;
  border-width: 0*$large;
  color: #333333;
  font-family: nanumsquareroundb;
  line-height:5*$large;
  font-size: 12*$large;

}
.android480 .googleReviewMoreBottomWrap{
  margin-left: 15*$large;
  margin-bottom: 15*$large;
}
.android480 .googleReviewMorePictureWrap{
  width: 70*$large;
  height: 70*$large;
}
.android400 .googleReviewMorePictureWrap1{
  width: 70*$large;
  height: 70*$large;
  margin-left: 7*$large;
}
.android480 .googleReviewMorePicture{
  width: 70*$large;
  height: 70*$large;
  border-radius: 8*$large;
}
.android480 .googleReviewMorePicture1{
  width: 70*$large;
  height: 70*$large;
}

