
.android360 .youtubeWrap{
  width: 360;
  height: 181;
}

.android360 .youtubeHeaderWrap{
  width: 360;
  height:27;
}
.android360 .youtubeIcon{
  margin-top: 13;
  width: 16;
  height: 16;
  margin-left: 16;
}
.android360 .youtubeTitle{
  font-size: 13;
  margin-top: 13;
  font-family: nanumsquareroundeb;
  color: #555555;
  height: 14;
  width: 250;
  margin-left: 6;
}
.android360 .youtubeMore{
  margin-top: 13;
  margin-left: 20;
  width: 36;
  height: 13;
  color: #888888;
  font-size: 12;
  font-family: nanumsquareroundeb;
}
.android360 .youtubeRightIcon{
  margin-top: 13;
  width: 20;
  height: 20;
  margin-left: -6;
}
.android360 .youtubeSubWrap{
  padding-left: 15;
  border-bottom-width: 2;
  border-bottom-color: #33000000;
}

.android360 .youtubeMainWrap{
  margin-top: 19;
  width: 150;
  height: 142;
  margin-right: 10;
}
.android360 .youtubeImageWrap{
  width: 150;
  height: 84;
}
.android360 .youtubeImage{
  width: 150;
  height: 84;
}
.android360 .youtubeSubjectWrap{
  width: 150;
  height: 32;
  margin-top: 7;
}
.android360 .youtubeSubject{
  width: 150;
  font-family: nanumsquareroundeb;
  font-size: 12;
  height: 32;
  line-height:5;
  color: #333333;
}
