$small : 0.9;

.android320 .placeSearchBarWrap{
  width: 360*$small;
  height: 63.5*$small;
  border-bottom-width: 4*$small;
  border-bottom-color: #ffe074;
}
.android320 .placeSearchBarMapIconWrap{
  width: 20*$small;
  height: 20*$small;
  margin-left: 20*$small;
}
.android320 .placeSearchBarMapIcon{
  width: 20*$small;
  height: 20*$small;
}
.android320 .placeSearchBarTextWrap{
  width:251*$small;
  height:45*$small;
}
.android320 .placeSearchBarTextWrapWrap{
  margin-left: 24*$small;
  width: 200*$small;
  height:35*$small;
}
.android320 .placeSearchBarText{
  border-color: #ffffff;
  background-color: #ffffff;
  font-family: nanumsquareroundr;
  color:#333333;
  font-size: 13*$small;
}
.android320 .placeSearchBarDeleteIconWrap{
  width: 20*$small;
  height:20*$small;
}
.android320 .placeSearchBarDeleteIcon{
  width: 20*$small;
  height: 20*$small;
}
.android320 .placeSearchBarSearchIconWrap{
  margin-top: 20*$small;
  margin-left: 20*$small;
}
.android320 .placeSearchBarSearchIcon{
  width: 20*$small;
  height: 20*$small;
}
.android320 .placeSearchKeywordListWrap{
  margin-top: 18.5*$small;
}
.android320 .placeSearchLatelyKeyword{
  width: 64*$small;
  height:16*$small;
  font-size: 14*$small;
  color:#333333;
  font-family: nanumsquareroundb;
}
.android320 .placeSearchPopularKeywordWrap{
  width: 64*$small;
  padding-bottom: 5*$small;
  margin-left: 20*$small;
  border-bottom-color: #ffe074;
  border-bottom-width: 0*$small;
}
.android320 .placeSearchPopularKeyword{
  width: 64*$small;
  height: 16*$small;
  font-size: 14*$small;
  font-family: nanumsquareroundr;
  color: #333333;
}
.android320 .placeSearchAutoCompleteListWrap{
  border-bottom-color: #eeeeee;
  padding-bottom: 14.5*$small;
  padding-left: 20*$small;
  padding-top: 14.5*$small;
}
.android320 .placeSearchAutoCompleteList{
  font-family: nanumsquareroundr;
  font-size: 12*$small;
  color: #333333;
}
.android320 .placeSearchPlaceListWrap{
  margin-top: -20*$small;
  background-color: #eff2f7;
}
.android320 .placeSearchPlaceList{
  margin-top: 15*$small;
}


.android320 .placeSearchLatelyKeywordWrap{
  width: 64*$small;
  margin-left: 20.5*$small;
  padding-bottom: 9*$small;
}

.android320 .placeSearchLatelyKeywordWrap.active{
  width: 64*$small;
  margin-left: 20.5*$small;
  border-bottom-color: #ffe074;
  border-bottom-width: 4*$small;
  padding-bottom: 9*$small;
}
