$small : 0.9;

.android320 .newPasswordCheck1{
  font-family: nanumsquareroundr;
  font-size: 10*$small;
  color: #888888;
  margin-left: 25*$small;
  margin-top: 10.5*$small;
}
.android320 .newPasswordCheck2{
  font-family: nanumsquareroundr;
  font-size: 10*$small;
  color: #db522b;
  margin-left: 25*$small;
  margin-top: 10.5*$small;
}
