.android360 .googleListHeaderWrap{
  margin-bottom: 10;
  height: 130;
}
.android360 .googleListWrap{
  background-color: #ffffff;
  width: 260;
  height: 90;
  margin-top: 16;
  margin-left: 15;
  border-color: #eeeeee;
  margin-bottom: 15;
}
.android360 .googleListRatingIconWrap{
  width: 200;
  margin-left: 9;
  margin-top: 11;
}
.android360 .googleListRatingIcon{
  width: 17;
  margin-left: 1;
  height: 17;
}
.android360 .googleListDate{
  margin-top: 11;
  color: #888888;
  font-family: nanumsquareroundr;
  font-size: 12;
}
.android360 .googleListContentsWrap{
  margin-top: 10;
  margin-left: 10;
  margin-bottom: 16;
  padding-right:10;
}
.android360 .googleListContents{
  background-color: #ffffff;
  border-width: 0;
  color: #333333;
  font-family: nanumsquareroundr;
  line-height:5;
  font-size: 12;
  height: 31;
}
.android360 .googleListBottomWrap{
  height: 106;
}
.android360 .googleListNonContentsWrap{
  margin-left: 140;
  margin-top: 41;
  width: 90;
}
.android360 .googleListNonContents{
  color: #cccccc;
  font-size: 12;
  font-family: nanumsquareroundb;
}
