$medium:1.142;

.android400 .memberJoinTermsIconCWrap{
  background-color: #ffe074;
  width: 20*$medium;
  height: 20*$medium;
  border-radius: 25*$medium;
  margin-top: 21*$medium;
  margin-left: 25*$medium;
}
.android400 .memberJoinTermsIconNWrap{
  border-radius: 25*$medium;
  background-color: #dddddd;
  width: 20*$medium;
  height: 20*$medium;
  margin-top: 21*$medium;
  margin-left: 25*$medium;
}
.android400 .memberJoinServiceTermsWrap{
  margin-top: 24*$medium;
  margin-left: 10*$medium;
  width: 220*$medium;
}
.android400 .memberJoinServiceTerms{
  font-family: nanumsquareroundr;
  font-size: 12*$medium;
  color: #333333;
}
.android400 .memberJoinServiceInfoWrap{
  margin-top: 24*$medium;
  margin-left: 10*$medium;
  width: 220*$medium;
}
.android400 .memberJoinServiceInfo{
  font-family: nanumsquareroundr;
  font-size: 12*$medium;
  color: #333333;
}

.android400 .memberJoinTermsViewWrap{
  text-align: center;
  width: 60*$medium;
  height: 24*$medium;
  margin-top: 21*$medium;
  border-width: 1*$medium;
  border-radius: 4*$medium;
  border-color: #cccccc;
}
.android400 .memberJoinTermsView{
  font-family: nanumsquareroundr;
  color: #333333;
  height: 12*$medium;
  font-size: 10*$medium;
  margin-top: 6*$medium;
}
.android400 .memberJoinTermsViewWrap2{
  text-align: center;
  width: 60*$medium;
  height: 24*$medium;
  margin-top: 21*$medium;
  border-width: 1*$medium;
  border-radius: 4*$medium;
  border-color: #cccccc;
}
.android400 .memberJoinALlAgreeWrap{
  margin-top: 24*$medium;
  margin-left: 10*$medium;
}
.android400 .memberJoinALlAgree{
  font-family: nanumsquareroundb;
  font-size: 12*$medium;
  color: #333333;
}

