$small : 0.9;

.android320 .memberJoinTermsIconCWrap{
  background-color: #ffe074;
  width: 20*$small;
  height: 20*$small;
  border-radius: 25*$small;
  margin-top: 21*$small;
  margin-left: 25*$small;
}
.android320 .memberJoinTermsIconNWrap{
  border-radius: 25*$small;
  background-color: #dddddd;
  width: 20*$small;
  height: 20*$small;
  margin-top: 21*$small;
  margin-left: 25*$small;
}
.android320 .memberJoinServiceTermsWrap{
  margin-top: 24*$small;
  margin-left: 10*$small;
  width: 220*$small;
}
.android320 .memberJoinServiceTerms{
  font-family: nanumsquareroundr;
  font-size: 12*$small;
  color: #333333;
}
.android320 .memberJoinServiceInfoWrap{
  margin-top: 24*$small;
  margin-left: 10*$small;
  width: 220*$small;
}
.android320 .memberJoinServiceInfo{
  font-family: nanumsquareroundr;
  font-size: 12*$small;
  color: #333333;
}

.android320 .memberJoinTermsViewWrap{
  text-align: center;
  width: 60*$small;
  height: 24*$small;
  margin-top: 21*$small;
  border-width: 1*$small;
  border-radius: 4*$small;
  border-color: #cccccc;
}
.android320 .memberJoinTermsView{
  font-family: nanumsquareroundr;
  color: #333333;
  height: 12*$small;
  font-size: 10*$small;
  margin-top: 6*$small;
}
.android320 .memberJoinTermsViewWrap2{
  text-align: center;
  width: 60*$small;
  height: 24*$small;
  margin-top: 21*$small;
  border-width: 1*$small;
  border-radius: 4*$small;
  border-color: #cccccc;
}
.android320 .memberJoinALlAgreeWrap{
  margin-top: 24*$small;
  margin-left: 10*$small;
}
.android320 .memberJoinALlAgree{
  font-family: nanumsquareroundb;
  font-size: 12*$small;
  color: #333333;
}



