$large:1.5;

.android480 .memberJoinTermsIconCWrap{
  background-color: #ffe074;
  width: 20*$large;
  height: 20*$large;
  border-radius: 25*$large;
  margin-top: 21*$large;
  margin-left: 25*$large;
}
.android480 .memberJoinTermsIconNWrap{
  border-radius: 25*$large;
  background-color: #dddddd;
  width: 20*$large;
  height: 20*$large;
  margin-top: 21*$large;
  margin-left: 25*$large;
}
.android480 .memberJoinServiceTermsWrap{
  margin-top: 24*$large;
  margin-left: 10*$large;
  width: 220*$large;
}
.android480 .memberJoinServiceTerms{
  font-family: nanumsquareroundr;
  font-size: 12*$large;
  color: #333333;
}
.android480 .memberJoinServiceInfoWrap{
  margin-top: 24*$large;
  margin-left: 10*$large;
  width: 220*$large;
}
.android480 .memberJoinServiceInfo{
  font-family: nanumsquareroundr;
  font-size: 12*$large;
  color: #333333;
}

.android480 .memberJoinTermsViewWrap{
  text-align: center;
  width: 60*$large;
  height: 24*$large;
  margin-top: 21*$large;
  border-width: 1*$large;
  border-radius: 4*$large;
  border-color: #cccccc;
}
.android480 .memberJoinTermsView{
  font-family: nanumsquareroundr;
  color: #333333;
  height: 12*$large;
  font-size: 10*$large;
  margin-top: 6*$large;
}
.android480 .memberJoinTermsViewWrap2{
  text-align: center;
  width: 60*$large;
  height: 24*$large;
  margin-top: 21*$large;
  border-width: 1*$large;
  border-radius: 4*$large;
  border-color: #cccccc;
}
.android480 .memberJoinALlAgreeWrap{
  margin-top: 24*$large;
  margin-left: 10*$large;
}
.android480 .memberJoinALlAgree{
  font-family: nanumsquareroundb;
  font-size: 12*$large;
  color: #333333;
}


