.android360 .noticeBarTitleWrap{
  margin-left: 90;
  height: 16;
  width: 68;
  margin-top: 15;
}

.android360 .noticeBarTitle{
  width: 68;
  height:16;
  font-family: nanumsquareroundb;
  font-size: 14;
  color: #333333;
}

.android360 .noticeListWrap{
  background-color:white;
  width: 100%;
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
}
.android360 .noticeSubjectWrap{
  padding-top: 26.95;
  padding-bottom: 25.275;
  width: 310;
}
.android360 .noticeSubject{
  font-size: 12;
  margin-left: 17.5;
  color:#333333;
  font-family: nanumsquareroundb;
}
.android360 .noticeImageWrap{
  margin-top: 25;
}
.android360 .noticeImage{
  width:18;
  height: 18;
}
.android360 .noticeContentsWrap{
  background-color: #eff2f7;
  padding: 15 15 15 15;
}
.android360 .noticeContents{
  background-color: #eff2f7;
  color: #333333;
  line-height:15;
  font-size: 11;
  width: 100%;
  border-bottom-width: 0;
}
