
$xlarge : 2;
$large : 1.75;
$medium : 1.5;
$small : 1.34;

.android360 .loginTitleWrap{
  width: 360;
  height:100;
  background-color: #ffe074;
  text-align: center;
}
.android360 .loginTitleContents{
  margin-top: 26;
  width: 159;
  height: 20;
  font-size: 14;
  color: #b99000;
  font-family: nanumsquareroundeb;
}
.android360 .infoWrap{
  width: 280;
  height: 260;
  background-color: #ffffff;
  margin-top: -40;
  border-radius: 9;
}
.android360 .infoPicture{
  margin-top: 25;
  width:80;
  height: 80;
  background-color: #dddddd;
  border-radius: 50;
}
.android360 .infoCameraWrap{
  margin-top: -20;
  margin-left: 60;
  background-color: #555555;
  width:20;
  height:20;
  border-radius: 50;
}
.android360 .infoCamera{
  color: red;
  font-size:10;
  margin-top: 1;
  margin-left: 0.7;
}
.android360 .infoNickNameWrap{
  margin-top: 15;
  width: 146;
  height: 19;
  text-align: center;
}
.android360 .infoNickName{
  width: 146;
  height: 20;
  color: #333333;
  font-size: 16;
  font-family: nanumsquareroundeb;
}
.android360 .infoMyinfoWrap{
  width: 51;
  height: 13;
  text-align: center;
  margin-top: 8;
}
.android360 .infoMyinfo{
  width: 51;
  height: 12;
  color: #888888;
  font-size: 10;
  font-family: nanumsquareroundeb;
}
.android360 .myListWrap{
  margin-top: 24;
}
.android360 .myReviewWrap{
  width: 36;
  height: 48;
  margin-left:25 ;
}
.android360 .myReviewTextWrap{
  width: 30;
  height: 13;
  text-align: center;
}
.android360 .myReviewText{
  font-size: 10;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android360 .myReviewIcon{
  width: 36;
  height: 36;
}
.android360 .blackListWrap{
  width: 50;
  height: 50;
  margin-left: 56;
}
.android360 .blackListIcon{
  width: 38;
  height: 36;
}
.android360 .blackListTextWrap{
  width: 46;
  height: 13;
  text-align: center;
}
.android360 .blackListText{
  font-size: 10;
  font-family: nanumsquareroundr;
  color: #555555;
}
.android360 .oneToOneWrap{
  margin-top: -5;
  width: 35;
  height: 51;
  margin-left: 58.5;
}
.android360 .oneToOneIcon{
  width: 35;
  height: 33;
}
.android360 .oneToOneTextWrap{
  width: 38;
  height: 13;
  text-align: center;
}
.android360 .oneToOneText{
  font-size: 10;
  font-family: nanumsquareroundr;
  color: #555555;
}
.android360 .etcListWrap{
  text-align: left;
  margin-top: 15;
}
.android360 .etcList{
  height: 360;
}
.android360 .etcText{
  margin-left: 65;
  font-size: 12;
  font-family: nanumsquareroundeb;
  color: #555555;
}
.android360 .etcTextWrap{
  margin-top: 15;
  margin-bottom: 15;
}
