$large : 1.5;

.android480 .storeMarkDetailSubWrap{
  width:480;
  height: 100%;
}
.android480 .storeMarkDetailWrap{
  width: 320*$large;
  height: 90*$large;
  border-radius: 6*$large;
  margin-left: 20;
}

.android480 .storeMarkRightWrap{
  width: 300*$large;
  height: 90*$large;
}
.android480 .storeMarkTopWrap{
  width: 300*$large;
  margin-top: 10*$large;
}
.android .storeMarkMiddleWrap{
  width:300*$large;
  margin-top: 10*$large;
  margin-left: 15*$large;
}
.android480 .storeMarkName{
  width: 300*$large;
}

.android480 .storeMarkTimeWrap{
  height:18*$large;
  background-color: #ffe074;
  border-radius: 8*$large;
  text-align: center;
  margin-left: 11*$large;
}

.android480 .storeMarkNameWrap{
  width: 173*$large;
  height: 18*$large;
}
.android480 .storeMarkName{
  width: 100%;
  height: 16*$large;
  font-family: nanumsquareroundeb;
  font-size: 14*$large;
  color: #333333;
  margin-left: 10*$large;
}

.android480 .storeMarkBottomWrap{
  height: 30*$large;
  margin-top: 10*$large;
  margin-left: 11*$large;
  width: 320*$large;
}
.android480 .storeMarkCategory{
  height: 13*$large;
  font-size: 12*$large;
  font-family: nanumsquareroundr;
  color: #555555;
  margin-left: 10*$large;
}

.android480 .storeMarkCategoryWrap{
  width:100*$large;
}
.android480 .storeMarkYIconWrap{
  width: 25*$large;
  height: 30*$large;
  margin-top: -5*$large;
}
.android480 .storeMarkNIconWrap{
  width: 25*$large;
  height: 30*$large;
}
.android480 .storeMarkTIconWrap{
  width: 25*$large;
  height: 30*$large;
}
.android480 .storeMarkGIconWrap{
  width: 16*$large;
  height: 16*$large;
  margin-top: -13*$large;
  margin-left: 5*$large;
  background-color: #ffffff;
}
.android480 .storeMarkAIconWrap{
  width: 25*$large;
  height: 30*$large;
  margin-left: 5*$large;
}

.android480 .storeMarkYIcon{
  border-radius: 25*$large;
  width: 21*$large;
  height: 21*$large;
}
.android480 .storeMarkNIcon{
  border-radius: 25*$large;
  width: 16*$large;
  height: 16*$large;
}
.android480 .storeMarkTIcon{
  border-radius: 25*$large;
  width: 16*$large;
  height: 16*$large;
}
.android480 .storeMarkGIcon{
  width: 10*$large;
  height: 10*$large;
  margin-top: 2.5*$large;
}
.android480 .storeMarkAIcon{
  border-radius: 25*$large;
  width: 16*$large;
  height: 16*$large;
}


