.android360 .storeMarkDetailSubWrap{
  width:360;
  height: 100%;
}
.android360 .storeMarkDetailWrap{
  width: 320;
  height: 90;
  border-radius: 6;
}

.android360 .storeMarkRightWrap{
  width: 300;
  height: 90;
}
.android360 .storeMarkTopWrap{
  width: 300;
  margin-top: 10;
}
.android .storeMarkMiddleWrap{
  width:300;
  margin-top: 10;
  margin-left: 15;
}
.android360 .storeMarkName{
  width: 300;
}

.android360 .storeMarkTimeWrap{
  height:18;
  background-color: #ffe074;
  border-radius: 8;
  text-align: center;
  margin-left: 11;
}

.android360 .storeMarkNameWrap{
  width: 173;
  height: 18;
}
.android360 .storeMarkName{
  width: 100%;
  height: 16;
  font-family: nanumsquareroundeb;
  font-size: 14;
  color: #333333;
  margin-left: 10;
}

.android360 .storeMarkBottomWrap{
  height: 30;
  margin-top: 10;
  margin-left: 11;
  width: 320;
}
.android360 .storeMarkCategory{
  height: 13;
  font-size: 12;
  font-family: nanumsquareroundr;
  color: #555555;
  margin-left: 10;
}

.android360 .storeMarkCategoryWrap{
  width:100;
}
.android360 .storeMarkYIconWrap{
  width: 25;
  height: 30;
  margin-top: -5;
}
.android360 .storeMarkNIconWrap{
  width: 25;
  height: 30;
}
.android360 .storeMarkTIconWrap{
  width: 25;
  height: 30;
}
.android360 .storeMarkGIconWrap{
  width: 16;
  height: 16;
  margin-top: -13;
  margin-left: 5;
  background-color: #ffffff;
}
.android360 .storeMarkAIconWrap{
  width: 25;
  height: 30;
  margin-left: 5;
}

.android360 .storeMarkYIcon{
  border-radius: 25;
  width: 21;
  height: 21;
}
.android360 .storeMarkNIcon{
  border-radius: 25;
  width: 16;
  height: 16;
}
.android360 .storeMarkTIcon{
  border-radius: 25;
  width: 16;
  height: 16;
}
.android360 .storeMarkGIcon{
  width: 10;
  height: 10;
  margin-top: 2.5;
}
.android360 .storeMarkAIcon{
  border-radius: 25;
  width: 16;
  height: 16;
}
