$small : 0.9;

.android320 .storeMarkDetailSubWrap{
  width:360*$small;
  height: 100%;
}
.android320 .storeMarkDetailWrap{
  width: 320*$small;
  height: 90*$small;
  border-radius: 6*$small;
}

.android320 .storeMarkRightWrap{
  width: 300*$small;
  height: 90*$small;
}
.android320 .storeMarkTopWrap{
  width: 300*$small;
  margin-top: 10*$small;
}
.android .storeMarkMiddleWrap{
  width:300*$small;
  margin-top: 10*$small;
  margin-left: 15*$small;
}
.android320 .storeMarkName{
  width: 300*$small;
}

.android320 .storeMarkTimeWrap{
  height:18*$small;
  background-color: #ffe074;
  border-radius: 8*$small;
  text-align: center;
  margin-left: 11*$small;
}

.android320 .storeMarkNameWrap{
  width: 173*$small;
  height: 18*$small;
}
.android320 .storeMarkName{
  width: 100%;
  height: 16*$small;
  font-family: nanumsquareroundeb;
  font-size: 14*$small;
  color: #333333;
  margin-left: 10*$small;
}

.android320 .storeMarkBottomWrap{
  height: 30*$small;
  margin-top: 10*$small;
  margin-left: 11*$small;
  width: 320*$small;
}
.android320 .storeMarkCategory{
  height: 13*$small;
  font-size: 12*$small;
  font-family: nanumsquareroundr;
  color: #555555;
  margin-left: 10*$small;
}

.android320 .storeMarkCategoryWrap{
  width:100*$small;
}
.android320 .storeMarkYIconWrap{
  width: 25*$small;
  height: 30*$small;
  margin-top: -5*$small;
}
.android320 .storeMarkNIconWrap{
  width: 25*$small;
  height: 30*$small;
}
.android320 .storeMarkTIconWrap{
  width: 25*$small;
  height: 30*$small;
}
.android320 .storeMarkGIconWrap{
  width: 16*$small;
  height: 16*$small;
  margin-top: -13*$small;
  margin-left: 5*$small;
  background-color: #ffffff;
}
.android320 .storeMarkAIconWrap{
  width: 25*$small;
  height: 30*$small;
  margin-left: 5*$small;
}

.android320 .storeMarkYIcon{
  border-radius: 25*$small;
  width: 21*$small;
  height: 21*$small;
}
.android320 .storeMarkNIcon{
  border-radius: 25*$small;
  width: 16*$small;
  height: 16*$small;
}
.android320 .storeMarkTIcon{
  border-radius: 25*$small;
  width: 16*$small;
  height: 16*$small;
}
.android320 .storeMarkGIcon{
  width: 10*$small;
  height: 10*$small;
  margin-top: 2.5*$small;
}
.android320 .storeMarkAIcon{
  border-radius: 25*$small;
  width: 16*$small;
  height: 16*$small;
}


