$large : 1.5;


.android480 .findUserIdBarWrap{
  height: 56*$large;
  width: 360*$large;
  border-bottom-width: 1*$large;
  border-bottom-color: #dddddd;
}
.android480 .findUserIdBackIconWrap{
  width: 28*$large;
  height: 28*$large;
  margin-left: 6*$large;
  margin-top: 25*$large;
}
.android480 .findUserIdBackIcon{
  width: 16*$large;
  height: 16*$large;
}
.android480 .findUserIdBackWrap{
  width: 33*$large;
  height:13*$large;
  margin-top: 15*$large;
}
.android480 .findUserIdBack {
  font-size: 12*$large;
  font-family: nanumsquareroundb;
  width: 33*$large;
  height: 13*$large;
}
.android480 .findUserIdBarTitleWrap{
  margin-left: 84*$large;
  height: 16*$large;
  width: 68*$large;
  margin-top: 15*$large;
}
.android480 .findUserIdBarTitle{
  width: 68*$large;
  height:16*$large;
  font-family: nanumsquareroundb;
  font-size: 14*$large;
  color: #333333;
}
.android480 .findUserIdPhoneTitleWrapWrap{
  width: 360*$large;
  margin-top: 24*$large;
}
.android480 .findUserIdPhoneTitle{
  margin-left: 25*$large;
  font-family: nanumsquareroundr;
  color: #555555;
  font-size: 10*$large;
}

//패스워드 변경부분 아이디 변경이랑 같이씀.
.android480 .findUserPasswordBarTitleWrap{
  margin-left:78*$large;
  height: 16*$large;
  width: 80*$large;
  margin-top: 15*$large;
}
.android480 .findUserPasswordBarTitle{
  width: 80*$large;
  height:16*$large;
  font-family: nanumsquareroundb;
  font-size: 14*$large;
  color: #333333;
}

.android480 .findUserIdPhoneWrap{
  width: 360*$large;
}
.android480 .findUserIdPhoneNumberWrap{
  width: 311*$large;
  border-bottom-width: 1*$large;
  border-bottom-color: #aaaaaa;
}
.android480 .findUserIdPhoneNumberWrapWrap{
  width:285*$large;
}
.android480 .findUserIdPhoneNumber{
  font-size: 12*$large;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android480 .findUserIdPhoneDeleteWrap{
  width: 20*$large;
  height: 20*$large;
}
.android480 .findUserIdPhoneDelete{
  width: 20*$large;
  height: 20*$large;
}
.android480 .findUserIdBirthTitleWrap{
  margin-top: 24.5*$large;
}
.android .findUserIdBirthTitleWrap{
  width: 360*$large;
}
.android .findUserIdBirthTitle{
  margin-left: 25*$large;
  color: #555555;
  font-size: 10*$large;
  font-family: nanumsquareroundr;
}
.android480 .findUserIdOkButtomWrap{
  width: 360*$large;
}
.android480 .findUserIdOkButtomWrapWrap{
  margin-top: 24.5*$large;
  margin-left: 130*$large;
  margin-right: 130*$large;
  width: 100*$large;
  background-color: #dddddd;
  border-radius: 16*$large;
  text-align: center;
  height: 32*$large;
}
.android480 .findUserIdOkButtom{
  margin-top: 9*$large;
  height: 14*$large;
  font-size: 12*$large;
  color: #ffffff;
  font-family: nanumsquareroundb;
}
.android480 .findUserIdOkButtomWrapWrap2{
  margin-top: 24.5*$large;
  margin-left: 130*$large;
  margin-right: 130*$large;
  width: 100*$large;
  background-color: #ffe074;
  border-radius: 16*$large;
  text-align: center;
  height: 32*$large;
}
.android480 .findUserIdOkButtom2{
  margin-top: 9*$large;
  height: 14*$large;
  font-size: 12*$large;
  color: #555555;
  font-family: nanumsquareroundb;
}

