$medium : 1.142;


.android400 .naverMarkMainWrap{
  width: 330*$medium;
  height: 104*$medium;
  background-color: #ffffff;
}
.android400 .naverMarkTitleWrap{
  width: 305*$medium;
  height: 30*$medium;
}
.android400 .naverMarkTitle{
  margin-top: 15*$medium;
  width: 305*$medium;
  height: 30*$medium;
  font-family: nanumsquareroundeb;
  color: #494949;
  font-size: 12*$medium;
}
.android400 .naverMarkSubWrap{
  width: 360*$medium;
  height: 60*$medium;
  margin-top: 6*$medium;
}
.android400 .naverMarkImageWrap{
  width: 58*$medium;
  height: 58*$medium;
  margin-left: 15*$medium;
}
.android400 .naverMarkImage{
  height: 58*$medium;
  width: 58*$medium;
}
.android400 .naverMarkRightWrap{
  width: 245*$medium;
  height: 58*$medium;
}
.android400 .naverMarkContentsWrap{
  width: 240*$medium;
  height: 29*$medium;
  padding: 0*$medium;
  margin-left: 25*$medium;
}
.android400 .naverMarkContents{
  width:235*$medium;
  padding: 0*$medium;
  height: 29*$medium;
  font-family: nanumsquareroundr;
  font-size: 11*$medium;
  color: #555555;
  line-height:5*$medium;
}
.android400 .naverMarkDateWriterWrap{
  width: 229*$medium;
  height: 30*$medium;
  margin-left: 15*$medium;
}
.android400 .naverMarkDateWrap{
  width: 60*$medium;
  height: 30*$medium;
}
.android400 .naverMarkWriterWrap{
  width: 80*$medium;
  height: 30*$medium;
}
.android400 .naverMarkDate{
  width: 60*$medium;
  height: 30*$medium;
  font-size: 10*$medium;
  margin-top: 15*$medium;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android400 .naverMarkWriter{
  width: 80*$medium;
  height: 30*$medium;
  font-size: 10*$medium;
  margin-top: 51*$medium;
  font-family: nanumsquareroundr;
  color: #888888;
}

.android400 .naverMarkNoImageWrap{
  width: 330*$medium;
  height: 58*$medium;
}

.android400 .naverMarkNoImgContentsWrap{
  width: 300*$medium;
  height: 29*$medium;
  padding: 0*$medium;
}
.android400 .naverMarkNoImgContents{
  width:300*$medium;
  padding: 0*$medium;
  height: 29*$medium;
  font-family: nanumsquareroundr;
  font-size: 11*$medium;
  color: #555555;
  line-height:5*$medium;
}
.android400 .naverMarkNoImgDateWriterWrap{
  width: 300*$medium;
  height: 30*$medium;
}
.android400 .naverMarkNoImgDateWrap{
  width: 60*$medium;
  height: 30*$medium;
}
.android400 .naverMarkNoImgWriterWrap{
  width: 80*$medium;
  height: 30*$medium;
}
.android400 .naverMarkNoImgDate{
  width: 60*$medium;
  height: 30*$medium;
  font-size: 10*$medium;
  margin-top: 15*$medium;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android400 .naverMarkNoImgWriter{
  width: 80*$medium;
  height: 30*$medium;
  font-size: 10*$medium;
  margin-top: 15*$medium;
  font-family: nanumsquareroundr;
  color: #888888;
}

