$large : 1.5;

.android480 .naverMarkMainWrap{
  width: 330*$large;
  height: 104*$large;
  background-color: #ffffff;
}
.android480 .naverMarkTitleWrap{
  width: 305*$large;
  height: 30*$large;
}
.android480 .naverMarkTitle{
  width: 305*$large;
  height: 30*$large;
  font-family: nanumsquareroundeb;
  color: #333333;
  font-size: 12*$large;
  margin-top: 15*$large;
}
.android480 .naverMarkSubWrap{
  width: 360*$large;
  height: 60*$large;
  margin-top: 6*$large;
}
.android480 .naverMarkImageWrap{
  width: 58*$large;
  height: 58*$large;
  margin-left: 15*$large;
}
.android480 .naverMarkImage{
  height: 58*$large;
  width: 58*$large;
}
.android480 .naverMarkRightWrap{
  width: 245*$large;
  height: 58*$large;
}
.android480 .naverMarkContentsWrap{
  width: 240*$large;
  height: 29*$large;
  padding: 0*$large;
  margin-left: 25*$large;
}
.android480 .naverMarkContents{
  width:229*$large;
  padding: 0*$large;
  height: 29*$large;
  font-family: nanumsquareroundr;
  font-size: 11*$large;
  color: #555555;
  line-height:5*$large;
}
.android480 .naverMarkDateWriterWrap{
  width: 229*$large;
  height: 30*$large;
  margin-left: 15*$large;
}
.android480 .naverMarkDateWrap{
  width: 60*$large;
  height: 30*$large;
}
.android480 .naverMarkWriterWrap{
  width: 80*$large;
  height: 30*$large;
}
.android480 .naverMarkDate{
  width: 60*$large;
  height: 30*$large;
  font-size: 10*$large;
  margin-top: 15*$large;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android480 .naverMarkWriter{
  width: 80*$large;
  height: 30*$large;
  font-size: 10*$large;
  margin-top: 15*$large;
  font-family: nanumsquareroundr;
  color: #888888;
}

.android480 .naverMarkNoImageWrap{
  width: 330*$large;
  height: 58*$large;
}

.android480 .naverMarkNoImgContentsWrap{
  width: 300*$large;
  height: 29*$large;
  padding: 0*$large;
}
.android480 .naverMarkNoImgContents{
  width:300*$large;
  padding: 0*$large;
  height: 29*$large;
  font-family: nanumsquareroundr;
  font-size: 11*$large;
  color: #555555;
  line-height:5*$large;
}
.android480 .naverMarkNoImgDateWriterWrap{
  width: 300*$large;
  height: 30*$large;
}
.android480 .naverMarkNoImgDateWrap{
  width: 60*$large;
  height: 30*$large;
}
.android480 .naverMarkNoImgWriterWrap{
  width: 80*$large;
  height: 30*$large;
}
.android480 .naverMarkNoImgDate{
  width: 60*$large;
  height: 30*$large;
  font-size: 10*$large;
  margin-top: 15*$large;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android480 .naverMarkNoImgWriter{
  width: 80*$large;
  height: 30*$large;
  font-size: 10*$large;
  margin-top: 15*$large;
  font-family: nanumsquareroundr;
  color: #888888;
}

