$small : 0.9;

.android320 .naverMarkMainWrap{
  width: 330*$small;
  height: 104*$small;
  background-color: #ffffff;
}
.android320 .naverMarkTitleWrap{
  width: 305*$small;
  height: 30*$small;
}
.android320 .naverMarkTitle{
  width: 305*$small;
  height: 30*$small;
  font-family: nanumsquareroundeb;
  color: #333333;
  font-size: 12*$small;
  margin-top: 15*$small;
}
.android320 .naverMarkSubWrap{
  width: 360*$small;
  height: 60*$small;
  margin-top: 6*$small;
}
.android320 .naverMarkImageWrap{
  width: 58*$small;
  height: 58*$small;
  margin-left: 15*$small;
}
.android320 .naverMarkImage{
  height: 58*$small;
  width: 58*$small;
}
.android320 .naverMarkRightWrap{
  width: 240*$small;
  height: 58*$small;
}
.android320 .naverMarkContentsWrap{
  width: 235*$small;
  height: 29*$small;
  padding: 0*$small;
  margin-left: 25*$small;
}
.android320 .naverMarkContents{
  width:229*$small;
  padding: 0*$small;
  height: 29*$small;
  font-family: nanumsquareroundr;
  font-size: 11*$small;
  color: #555555;
  line-height:5*$small;
}
.android320 .naverMarkDateWriterWrap{
  width: 229*$small;
  height: 30*$small;
  margin-left: 15*$small;
}
.android320 .naverMarkDateWrap{
  width: 60*$small;
  height: 30*$small;
}
.android320 .naverMarkWriterWrap{
  width: 80*$small;
  height: 30*$small;
}
.android320 .naverMarkDate{
  width: 60*$small;
  height: 30*$small;
  font-size: 10*$small;
  margin-top: 15*$small;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android320 .naverMarkWriter{
  width: 80*$small;
  height: 30*$small;
  font-size: 10*$small;
  margin-top: 15*$small;
  font-family: nanumsquareroundr;
  color: #888888;
}

.android320 .naverMarkNoImageWrap{
  width: 330*$small;
  height: 58*$small;
}

.android320 .naverMarkNoImgContentsWrap{
  width: 300*$small;
  height: 29*$small;
  padding: 0*$small;
}
.android320 .naverMarkNoImgContents{
  width:300*$small;
  padding: 0*$small;
  height: 29*$small;
  font-family: nanumsquareroundr;
  font-size: 11*$small;
  color: #555555;
  line-height:5*$small;
}
.android320 .naverMarkNoImgDateWriterWrap{
  width: 300*$small;
  height: 30*$small;
}
.android320 .naverMarkNoImgDateWrap{
  width: 60*$small;
  height: 30*$small;
}
.android320 .naverMarkNoImgWriterWrap{
  width: 80*$small;
  height: 30*$small;
}
.android320 .naverMarkNoImgDate{
  width: 60*$small;
  height: 30*$small;
  font-size: 10*$small;
  margin-top: 15*$small;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android320 .naverMarkNoImgWriter{
  width: 80*$small;
  height: 30*$small;
  font-size: 10*$small;
  margin-top: 15*$small;
  font-family: nanumsquareroundr;
  color: #888888;
}
