.android360 .aa{
  padding-top: 10;
  width: 60;
  text-align: center;
  border-bottom-width: 0;
  border-bottom-color: #ffffff;
}

.android360 .aa.active{
  border-bottom-width: 4.55;
  border-bottom-color: #ffe074;
  width: 60;
  padding-top: 10;
  text-align: center;
}
.android360 .aaa{
  font-size: 12;
  font-family: nanumsquareroundb;
  color:#cccccc;
}
.android360 .aaa.active{
  font-size: 12;
  font-family: nanumsquareroundb;
  color:#333333;
}

.android360 .myReviewListTitleWrap{
  width: 100%;
  height: 55;
  border-bottom-color: #dddddd;
  border-bottom-width: 1.05;
}
.android360 .myReviewListTitleImageWrap{
  width: 28;
  height: 28;
  margin-left: 6;
  margin-top: 30.5;
}
.android360 .myReviewListTitleImage{
  width: 16;
  height: 16;
}
.android360 .myReviewListBackTitleWrap{
  margin-left: 2;
  margin-top: 20;
  height: 13;
  width: 33;
}
.android360 .myReviewListBackTitle{
  color:#333333;
  font-size:12;
  font-family: nanumsquareroundb;
}
.android360 .myReviewListTitleWrapWrap{
  margin-top: 24.5;
  margin-left: 90;
  width: 49;
  height: 18.55;
}
.android360 .myReviewListTitle{
  font-family: nanumsquareroundb;
  font-size: 14;
  color: #333333;
}
.android360 .myReviewListTapTapWrap{
  height: 40.05;
}
