.android360 .reviewMoreWrap{
  width: 360;
  height: 55;
  background-color: #ffffff;
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
}
.android360 .reviewMoreIconWrap{
  width: 28;
  height: 28;
  margin-top: 25;
}
.android360 .reviewMoreIcon{
  width: 15;
  height: 15;
}
.android360 .reviewMorePlaceNameWrap{
  margin-top: 26;
  width: 300;
  text-align: center;
}
.android360 .reviewMorePlaceName{
  font-family: nanumsquareroundb;
  color: #333333;
  font-size: 14;
}
