$small : 0.9;

.android320 .storeWrap{
  width: 360*$small;
  height: 130*$small;
}

.android320 .storeHeaderWrap{
  width: 360*$small;
  height:27*$small;
}
.android320 .storeCookIcon{
  margin-top: 13*$small;
  width: 16*$small;
  height: 16*$small;
  margin-left: 16*$small;
}
.android320 .storeTitle{
  font-size: 13*$small;
  margin-top: 13*$small;
  font-family: nanumsquareroundeb;
  color: #555555;
  height: 14*$small;
  width: 250*$small;
  margin-left: 6*$small;
}
.android320 .storeMore{
  margin-top: 13*$small;
  width: 36*$small;
  height: 13*$small;
  color: #888888;
  font-size: 12*$small;
  font-family: nanumsquareroundeb;
}
.android320 .storeRightIcon{
  margin-top: 13*$small;
  width: 20*$small;
  height: 20*$small;
  margin-left: -6*$small;
}

.android320 .storeDetailSubWrap{
  height: 130*$small;
  border-bottom-width: 2*$small;
  border-bottom-color: #33000000;
}
.android320 .storeDetailWrap{
  width: 243*$small;
  height: 70*$small;
}
.android320 .storeLeftWrap{
  width: 70*$small;
  height: 70*$small;
  margin-left: 15*$small;
}
.android320 .storeImage{
  height: 70*$small;
  width: 70*$small;
  border-radius: 8*$small;
}
.android320 .storeRightWrap{
  width: 173*$small;
  height: 70*$small;
}
.android320 .storeTopWrap {
  width: 173*$small;
  height: 18*$small;
}
.android320 .storeTimeWrap{
  background-color: #ffe074;
  border-radius: 8*$small;
  text-align: center;
  margin-left: 11*$small;
}
.android320 .storeTime{
  width: 50*$small;
  height: 18*$small;
  margin-top: 3*$small;
  margin-bottom: 3*$small;
  font-family: nanumsquareroundeb;
  font-size: 10*$small;
  color: #333333;
}
.android320 .storeStarIconWrap{
  width: 18*$small;
  height: 18*$small;
  margin-left: 10*$small;
}
.android320 .storeRatingWrap{
  width: 18*$small;
  height: 13*$small;
}
.android320 .storeStarIcon{
  width: 18*$small;
  height: 18*$small;
}
.android320 .storeRatingWrap{
  width: 18*$small;
  height: 13*$small;
  margin-left: 2*$small;
}
.android320 .storeRating {
  width: 18*$small;
  height: 13*$small;
  font-family: nanumsquareroundeb;
  font-size: 12*$small;
  color: #333333;
}
.android320 .storeMiddleWrap{
  width: 173*$small;
  height: 18*$small;
  margin-top:9*$small;
}
.android320 .storeName{
  width: 138*$small;
  height: 16*$small;
  font-family: nanumsquareroundeb;
  font-size: 14*$small;
  color: #333333;
}
.android320 .storeBottomWrap{
  height: 13*$small;
  margin-top: 9*$small;
  margin-left: 11*$small;
}
.android320 .storeCategory{
  height: 13*$small;
  font-size: 12*$small;
  font-family: nanumsquareroundr;
  color: #555555;
}

