.android360 .naverWrap{
  width: 360;
  height: 150;
  border-bottom-width: 2;
  border-bottom-color: #33000000;
}

.android360 .naverHeaderWrap{
  width: 360;
  height:27;
}
.android360 .naverIcon{
  margin-top: 13;
  width: 16;
  height: 16;
  margin-left: 16;
}
.android360 .naverTitle{
  font-size: 13;
  margin-top: 13;
  font-family: nanumsquareroundeb;
  color: #555555;
  height: 14;
  width: 250;
  margin-left: 6;
}
.android360 .naverMore{
  margin-top: 13;
  width: 36;
  height: 13;
  color: #888888;
  font-size: 12;
  font-family: nanumsquareroundeb;
}
.android360 .naverRightIcon{
  margin-top: 13;
  width: 18;
  height: 18;
  margin-left: -6;
}
.android360 .naverSubWrap{
  margin-top: 11;
  margin-left: 10;
  margin-right: 10;
}

.android360 .naverMainWrap{
  width: 260;
  height: 90;
  margin-left: 5;
  padding-left: 9;
  margin-right: 5;
  margin-top: 5;
  margin-bottom: 5;
}
.android360 .naverImageWrap{
  width: 70;
  height: 70;
}
.android360 .naverImage{
  width: 70;
  height: 70;
  border-radius: 8;
}
.android360 .naverSubjectWrap{
  width: 150;
  height: 36;
  margin-top: 7;
}
.android360 .naverRightWrap{

}
.android360 .naverRightTop{

}
.android360 .naverSubject {
  font-size: 13;
  font-family: nanumsquareroundeb;
  color: #333333;
  margin-top: 10;
  margin-left: 12;
  height: 18;
  width:150;
}

.android360 .naverContents{
  color: #333333;
  font-family: nanumsquareroundr;
  font-size: 12;
  width: 150;
  margin-top: 6;
  margin-left: 12;
  height: 18;
}

.android360 .naverWriteDate{
  color: #888888;
  font-size: 11;
  font-family: nanumsquareroundr;
  margin-top: 3;
  margin-left: 12;
  height: 18;
}
.android360 .naverWriter{
  color: #888888;
  font-size: 11;
  font-family: nanumsquareroundr;
  margin-left: 7;
  margin-top: 3;
  width: 84;
  height: 18;
}
