$small : 0.9;


.android320 .findPasswordPhoneCertTitleWrap{
  width: 193*$small;
  margin-left: 25*$small;
}
.android320 .findPasswordPhoneCertTitleWrapWrap{
  width:193*$small;
  margin-top: 24*$small;
}
.android320 .findPasswordPhoneCertTitleWrapWrap2{
  width:193*$small;
}
.android320 .findPasswordPhoneCertTitle{
  font-size: 10*$small;
  color: #555555;
  font-family: nanumsquareroundr;
  margin-top: 24*$small;

}
.android320 .findPasswordPhoneCertNumberWrapWrap{
  width:170*$small;
}
.android320 .findPasswordPhonecertCountWrap{
  width: 100*$small;
  margin-top: 43*$small;
  height: 31*$small;
  text-align: center;
  margin-left: 18*$small;
}
.android320 .findPasswordPhonecertCount{
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12*$small;
  margin-top: 7*$small;
  height: 14*$small;
}
.android320 .findPasswordPhoneCertWrongWrap{
  margin-top: 10.5*$small;
  margin-left: 25*$small;
}
.android320 .findPasswordPhoneCertWrong{
  font-size: 10*$small;
  font-family: nanumsquareroundr;
  color: #db522b;
}
.android320 .findPasswordPhoneCertNumberResponeWrap{
  width: 100*$small;
  margin-top: 56*$small;
  height: 31*$small;
  background-color: #dddddd;
  border-radius: 6*$small;
  text-align: center;
  margin-left: 18*$small;
}
.android320 .findPasswordPhoneCertNumberRespone{
  font-family: nanumsquareroundb;
  color: #ffffff;
  font-size: 12*$small;
  margin-top: 7*$small;
  height: 14*$small;
}

.android320 .findPasswordPhoneCertNumberResponeWrap2{
  width: 100*$small;
  margin-top: 56*$small;
  height: 31*$small;
  background-color: #333333;
  border-radius: 6*$small;
  text-align: center;
  margin-left: 18;
}
.android320 .findPasswordPhoneCertNumberRespone2{
  font-family: nanumsquareroundb;
  color: #ffffff;
  font-size: 12*$small;
  margin-top: 7*$small;
  height: 14*$small;
}


.android320 .findPasswordPhoneCertCount{
  font-family: nanumsquareroundr;
  font-size: 12*$small;
  color: #333333;
  margin-top: 50*$small;
  margin-left: 27*$small;
}

