$medium : 1.142;


.android400 .findPasswordPhoneCertTitleWrap{
  width: 193*$medium;
  margin-left: 25*$medium;
}
.android400 .findPasswordPhoneCertTitleWrapWrap{
  width:193*$medium;
  margin-top: 24*$medium;
}
.android400 .findPasswordPhoneCertTitleWrapWrap2{
  width:193*$medium;
}
.android400 .findPasswordPhoneCertTitle{
  font-size: 10*$medium;
  color: #555555;
  font-family: nanumsquareroundr;
  margin-top: 24*$medium;

}
.android400 .findPasswordPhoneCertNumberWrapWrap{
  width:170*$medium;
}
.android400 .findPasswordPhonecertCountWrap{
  width: 100*$medium;
  margin-top: 43*$medium;
  height: 31*$medium;
  text-align: center;
  margin-left: 18*$medium;
}
.android400 .findPasswordPhonecertCount{
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12*$medium;
  margin-top: 7*$medium;
  height: 14*$medium;
}
.android400 .findPasswordPhoneCertWrongWrap{
  margin-top: 10.5*$medium;
  margin-left: 25*$medium;
}
.android400 .findPasswordPhoneCertWrong{
  font-size: 10*$medium;
  font-family: nanumsquareroundr;
  color: #db522b;
}
.android400 .findPasswordPhoneCertNumberResponeWrap{
  width: 100*$medium;
  margin-top: 56*$medium;
  height: 31*$medium;
  background-color: #dddddd;
  border-radius: 6*$medium;
  text-align: center;
  margin-left: 18*$medium;
}
.android400 .findPasswordPhoneCertNumberRespone{
  font-family: nanumsquareroundb;
  color: #ffffff;
  font-size: 12*$medium;
  margin-top: 7*$medium;
  height: 14*$medium;
}

.android400 .findPasswordPhoneCertNumberResponeWrap2{
  width: 100*$medium;
  margin-top: 56*$medium;
  height: 31*$medium;
  background-color: #333333;
  border-radius: 6*$medium;
  text-align: center;
  margin-left: 18;
}
.android400 .findPasswordPhoneCertNumberRespone2{
  font-family: nanumsquareroundb;
  color: #ffffff;
  font-size: 12*$medium;
  margin-top: 7*$medium;
  height: 14*$medium;
}


.android400 .findPasswordPhoneCertCount{
  font-family: nanumsquareroundr;
  font-size: 12*$medium;
  color: #333333;
  margin-top: 50*$medium;
  margin-left: 27*$medium;
}

.android360 .findPasswordPhoneCertBottomWrap{
  width: 360*$medium;
}


