.android360 .findPasswordPhoneCertTitleWrap{
  width: 193;
  margin-left: 25;
}
.android360 .findPasswordPhoneCertTitleWrapWrap{
  width:193;
  margin-top: 24;
}
.android360 .findPasswordPhoneCertTitleWrapWrap2{
  width:193;
}
.android360 .findPasswordPhoneCertTitle{
  font-size: 10;
  color: #555555;
  font-family: nanumsquareroundr;
  margin-top: 24;

}
.android360 .findPasswordPhoneCertNumberWrapWrap{
  width:170;
}
.android360 .findPasswordPhonecertCountWrap{
  width: 100;
  margin-top: 43;
  height: 31;
  text-align: center;
  margin-left: 18;
}
.android360 .findPasswordPhonecertCount{
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12;
  margin-top: 7;
  height: 14;
}
.android360 .findPasswordPhoneCertWrongWrap{
  margin-top: 10.5;
  margin-left: 25;
}
.android360 .findPasswordPhoneCertWrong{
  font-size: 10;
  font-family: nanumsquareroundr;
  color: #db522b;
}
.android360 .findPasswordPhoneCertNumberResponeWrap{
  width: 100;
  margin-top: 56;
  height: 31;
  background-color: #dddddd;
  border-radius: 6;
  text-align: center;
  margin-left: 18;
}
.android360 .findPasswordPhoneCertNumberRespone{
  font-family: nanumsquareroundb;
  color: #ffffff;
  font-size: 12;
  margin-top: 7;
  height: 14;
}

.android360 .findPasswordPhoneCertNumberResponeWrap2{
  width: 100;
  margin-top: 56;
  height: 31;
  background-color: #333333;
  border-radius: 6;
  text-align: center;
  margin-left: 18;
}
.android360 .findPasswordPhoneCertNumberRespone2{
  font-family: nanumsquareroundb;
  color: #ffffff;
  font-size: 12;
  margin-top: 7;
  height: 14;
}


.android360 .findPasswordPhoneCertCount{
  font-family: nanumsquareroundr;
  font-size: 12;
  color: #333333;
  margin-top: 50;
  margin-left: 27;
}

.android360 .findPasswordPhoneCertBottomWrap{
  width: 360;
}
