$large : 1.5;

.android480 .findPasswordPhoneCertTitleWrap{
  width: 193*$large;
  margin-left: 25*$large;
}
.android480 .findPasswordPhoneCertTitleWrapWrap{
  width:193*$large;
  margin-top: 24*$large;
}
.android480 .findPasswordPhoneCertTitleWrapWrap2{
  width:193*$large;
}
.android480 .findPasswordPhoneCertTitle{
  font-size: 10*$large;
  color: #555555;
  font-family: nanumsquareroundr;
  margin-top: 24*$large;

}
.android480 .findPasswordPhoneCertNumberWrapWrap{
  width:170*$large;
}
.android480 .findPasswordPhonecertCountWrap{
  width: 100*$large;
  margin-top: 43*$large;
  height: 31*$large;
  text-align: center;
  margin-left: 18*$large;
}
.android480 .findPasswordPhonecertCount{
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12*$large;
  margin-top: 7*$large;
  height: 14*$large;
}
.android480 .findPasswordPhoneCertWrongWrap{
  margin-top: 10.5*$large;
  margin-left: 25*$large;
}
.android480 .findPasswordPhoneCertWrong{
  font-size: 10*$large;
  font-family: nanumsquareroundr;
  color: #db522b;
}
.android480 .findPasswordPhoneCertNumberResponeWrap{
  width: 100*$large;
  margin-top: 56*$large;
  height: 31*$large;
  background-color: #dddddd;
  border-radius: 6*$large;
  text-align: center;
  margin-left: 18*$large;
}
.android480 .findPasswordPhoneCertNumberRespone{
  font-family: nanumsquareroundb;
  color: #ffffff;
  font-size: 12*$large;
  margin-top: 7*$large;
  height: 14*$large;
}

.android480 .findPasswordPhoneCertNumberResponeWrap2{
  width: 100*$large;
  margin-top: 56*$large;
  height: 31*$large;
  background-color: #333333;
  border-radius: 6*$large;
  text-align: center;
  margin-left: 18;
}
.android480 .findPasswordPhoneCertNumberRespone2{
  font-family: nanumsquareroundb;
  color: #ffffff;
  font-size: 12*$large;
  margin-top: 7*$large;
  height: 14*$large;
}


.android480 .findPasswordPhoneCertCount{
  font-family: nanumsquareroundr;
  font-size: 12*$large;
  color: #333333;
  margin-top: 50*$large;
  margin-left: 27*$large;
}


