.android360 .loginTitleWrap{
  width: 360;
  height:100;
  background-color: #ffe074;
  text-align: center;
}
.android360 .loginTitleContents{
  margin-top: 26;
  width: 159;
  height: 20;
  font-size: 14;
  color: #b99000;
  font-family: nanumsquareroundeb;
}
.android360 .loginInfoWrap{
  width: 280;
  height: 140;
  background-color: #ffffff;
  margin-top: -40;
  border-radius: 9;
  text-align: center;
}
.android360 .infoTextWrap{
  text-align: center;
  width: 280;
  margin-top: 32;
}
.android360 .infoText{
  font: 14;
  color: #555555;
  font-family: nanumsquareroundeb;

}
.android360 .loginTextWrap{
  width: 231;
  height: 40;
  margin-top: 22;
  margin-left: 25;
  margin-right: 24;
  background-color: #ffe074;
  border-radius: 6;
  text-align: center;
}
.android360 .loginText{
  font-family: nanumsquareroundeb;
  font-size: 14;
  margin-top: 12;
  margin-bottom: 12;
}
