.android360 .faqWrap{
  background-color: #ffffff;
  width: 360;
  height: 650;
}
.android360 .faqHeaderWrap{
  background-color: #ffffff;
  width: 360;
  height: 55;
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
  padding-bottom: 18;
}

.android360 .leftWrap{
  width: 14;
  height: 14;
  margin-left: 6;
  margin-top: 17;
}
.android360 .leftIcon{
  width:14;
  height: 14;
}
.android360 .myInfoBackWrap{
  margin-left: 2;
  width: 33;
  height: 14;
  margin-top: 20;
}
.android360 .myInfoBack{
  width: 33;
  height: 14;
  color: #494949;
  font-size: 12;
  font-family: nanumsquareroundeb;
}
.android360 .faqTitleWrap{
  width: 80;
  height: 18;
  margin-top: 21;
  margin-left: 88;
}
.android360 .faqTitle{
  width: 80;
  height: 16;
  color: #494949;
  font-family: nanumsquareroundeb;
  font-size: 14;
}

.android360 .faqListWrap{
  text-align: left;
}

.android360 .faqList{
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
}

.android360 .faqHeaderTitleWrap{
  width:311;
}
.android360 .faqHeaderTitle{
  font-family: nanumsquareroundeb;
  font-size: 12;
  color: #494949;
  height: 13;
  margin-top: 23;
  margin-bottom: 21;
  margin-left:15;
}
.faqDownIconWrap{
  width: 28;
  height: 28;
}
.android360 .faqDownIcon{
  margin-top: 10;
  width: 15;
  height: 15;
}
.android360 .faqDetailWrap{
  background-color: #eff2f7;
  width: 360;
  padding-top: 14;
  padding-right: 15;
  padding-bottom: 18;
  padding-left: 15;
}
.android360 .faqDetail{
  font-size: 11;
  color: #494949;
  font-family: nanumsquareroundr;
  line-height:22;
  background-color: #eff2f7;
}
