.android360 .termsWrap{
  background-color: #ffffff;
  width: 360;
  height: 650;
}
.android360 .termsHeaderWrap{
  background-color: #ffffff;
  width: 360;
  height: 55;
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
  padding-bottom: 18;
}
.android360 .leftWrap{
  width: 14;
  height: 14;
  margin-left: 6;
  margin-top: 17;
}
.android360 .leftIcon{
  width:14;
  height: 14;
}
.android360 .myInfoBackWrap{
  margin-left: 2;
  width: 33;
  height: 14;
  margin-top: 20;
}
.android360 .myInfoBack{
  width: 33;
  height: 14;
  color: #494949;
  font-size: 12;
  font-family: nanumsquareroundeb;
}
.android360 .termsTitleWrap{
  width: 71;
  height: 18;
  margin-top: 21;
  margin-left: 88;
}
.android360 .termsTitle{
  width: 71;
  height: 16;
  color: #494949;
  font-family: nanumsquareroundeb;
  font-size: 14;
}

.android360 .termsListWrap{
  text-align: left;
}

.android360 .termsList{
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
}

.android360 .termsListIconWrap{
  width:28;
  height: 28;
}

.android360 .termsListTcon{
  width:14;
  height: 14;
  margin-top: 7;
}
.android360 .termsListTitle{
  font-family: nanumsquareroundeb;
  color: #494949;
  width: 301;
  font-size: 12;
  margin-top: 15;
  margin-bottom: 15;
  margin-left: 15;
}
