.android360 .webViewWrap{
  height: 55;
}
.android360 .webViewNavigation{
  width: 360;
  margin-top: 30;
}
.android360 .webViewExit{
  width: 17;
  height: 17;
  margin-left: 320;
}
.android360 .webViewModalButton{
  width: 17;
  height: 17;
}
