$medium : 1.2;

.android400 .homeHeaderWrap{
  width: 360*$medium;
  height: 110*$medium;
  background-color: #ffe074;
}
.android400 .homeTitleWrap{
  width: 360*$medium;
  height: 55*$medium;
}
.android400 .homeAppName{
  width: 37*$medium;
  height: 22*$medium;
  margin-left: 35*$medium;
  font-family: nanumsquareroundeb;
  font-size: 20*$medium;
  color: #222222;
}
.android400 .homeTitle{
  width: 142*$medium;
  height: 17*$medium;
  font-family: nanumsquareroundeb;
  font-size: 14*$medium;
  color: #555555;
  margin-left: 13*$medium;
}
.android400 .homeSearchWrap{
  width: 290*$medium;
  height: 34*$medium;
  border-radius: 8*$medium;
  background-color: #ffffff;
}
.android400 .homeMakerIcon{
  width: 22*$medium;
  height: 22*$medium;
  margin-left: 13*$medium;
}
.android400 .homeSearchTitle{
  margin-left: 10*$medium;
  width: 210*$medium;
  font-family: nanumsquareroundeb;
  font-size: 13*$medium;
  color: #333333;
  margin-top: 10*$medium;
  margin-bottom: 10*$medium;
}
.android400 .homeSearchIcon{
  width: 20*$medium;
  height: 20*$medium;
}

.android400 .headerLine{
  width: 360*$medium;
  height: 10*$medium;
  background-color: #eff2f7;
}

.ios400 .homeHeaderWrap{
  width: 360*$medium;
  height: 110*$medium;
  background-color: #ffe074;
}
.ios400 .homeTitleWrap{
  width: 360*$medium;
  height: 55*$medium;
}
.ios400 .homeAppName{
  width: 37*$medium;
  height: 22*$medium;
  margin-left: 35*$medium;
  font-family: nanumsquareroundeb;
  font-size: 20*$medium;
  color: #222222;
}
.ios400 .homeTitle{
  width: 142*$medium;
  height: 17*$medium;
  font-family: nanumsquareroundeb;
  font-size: 14*$medium;
  color: #555555;
  margin-left: 13*$medium;
}
.ios400 .homeSearchWrap{
  width: 290*$medium;
  height: 34*$medium;
  border-radius: 8*$medium;
  background-color: #ffffff;
}
.ios400 .homeMakerIcon{
  width: 22*$medium;
  height: 22*$medium;
  margin-left: 13*$medium;
}
.ios400 .homeSearchTitle{
  margin-left: 10*$medium;
  width: 210*$medium;
  font-family: nanumsquareroundeb;
  font-size: 13*$medium;
  color: #333333;
  margin-top: 10*$medium;
  margin-bottom: 10*$medium;
}
.ios400 .homeSearchIcon{
  width: 20*$medium;
  height: 20*$medium;
}

.ios400 .headerLine{
  width: 360*$medium;
  height: 10*$medium;
  background-color: #eff2f7;
}


