.android360 .homeHeaderWrap{
  width: 360;
  height: 110;
  background-color: #ffe074;
}
.android360 .homeTitleWrap{
  width: 360;
  height: 55;
}
.android360 .homeAppName{
  width: 37;
  height: 22;
  margin-left: 35;
  font-family: nanumsquareroundeb;
  font-size: 20;
  color: #222222;
}
.android360 .homeTitle{
  width: 142;
  height: 17;
  font-family: nanumsquareroundeb;
  font-size: 14;
  color: #555555;
  margin-left: 13;
}
.android360 .homeSearchWrap{
  width: 290;
  height: 34;
  border-radius: 8;
  background-color: #ffffff;
}
.android360 .homeMakerIcon{
  width: 22;
  height: 22;
  margin-left: 13;
}
.android360 .homeSearchTitle{
  margin-left: 10;
  width: 210;
  font-family: nanumsquareroundeb;
  font-size: 13;
  color: #333333;
  margin-top: 10;
  margin-bottom: 10;
}
.android360 .homeSearchIcon{
  width: 20;
  height: 20;
}

.android360 .headerLine{
  width: 360;
  height: 10;
  background-color: #eff2f7;
}
