.android360 .appReviewWriteIconWrap{
  width: 20;
  height: 20;
  margin-top: 10;
}
.android360 .appReviewWriteIcon{
  width: 20;
  height: 20;
}
.android360 .appReviewHeaderWrap{
  margin-top: 15;
  margin-left: 15;
}
.android360 .appReviewHeaderIconWrap{
  width: 22;
  height: 22;
}
.android360 .appReviewHeaderRatingwrap{
  margin-left: 5;
}
.android360 .appReviewHeaderRating{
  font-family: nanumsquareroundb;
  font-size: 18;
  color: #333333;
}
.android360 .appReviewHeaderCountWrap{
  margin-left: 10;
  margin-top: 4;
}
.android360 .appReviewHeaderCount{
  font-family: nanumsquareroundb;
  font-size: 14;
  color: #888888;
}
.android360 .appReviewUserIconWrap{
  width: 36;
  height: 36;
  border-radius: 25;
  background-color: #aaaaaa;
  margin-top: 13;
  margin-left: 15;
}
.android360 .appReviewUserIcon{
  margin-top: 13;
  margin-left: 15;
  width: 36;
  height: 36;
  border-radius: 25;
}
.android360 .appReviewUserNickNameWrap{
  width: 135;
  margin-left: 10;
  margin-top: 25;
}
.android360 .appReviewUserNickName{
  font-family: nanumsquareroundb;
  font-size: 12;
  color: #555555;
}
.android360 .appReviewRatingIcon{
  width: 18;
  height: 18;
  margin-left: 1;
}
.android360 .appReviewBottomWrap{
  margin-bottom: 13;
}
.android360 .appReviewDateWrap{
  margin-left: 15;
}
.android360 .appReviewDate{
  font-family: nanumsquareroundr;
  font-size: 12;
  color: #888888;
}
.android360 .appReviewLikeIconWrap{
  width: 14;
  height: 12;
  margin-left: 6;
}
.android360 .appReviewLikeIcon{
  width: 14;
  height:12;
}
.android360 .appReviewLikeCountWrap{
  margin-left: 3;
  width: 180;
  height: 18;
}
.android360 .appReviewLikeCount{
  height: 18;
  font-family: nanumsquareroundb;
  font-size: 12;
  color: #555555;
}
.android360 .appReviewDeleteWrap{
  height: 18;
}
.android360 .appReviewDelete{
  height: 18;
  font-family: nanumsquareroundb;
  font-size: 12;
  color: #555555;
}
