$large:1.5;

.android480 .appReviewWriteIconWrap{
  width: 20*$large;
  height: 20*$large;
  margin-top: 10*$large;
}
.android480 .appReviewWriteIcon{
  width: 20*$large;
  height: 20*$large;
}
.android480 .appReviewHeaderWrap{
  margin-top: 15*$large;
  margin-left: 15*$large;
}
.android480 .appReviewHeaderIconWrap{
  width: 22*$large;
  height: 22*$large;
}
.android480 .appReviewHeaderRatingwrap{
  margin-left: 5*$large;
}
.android480 .appReviewHeaderRating{
  font-family: nanumsquareroundb;
  font-size: 18*$large;
  color: #333333;
}
.android480 .appReviewHeaderCountWrap{
  margin-left: 10*$large;
  margin-top: 4*$large;
}
.android480 .appReviewHeaderCount{
  font-family: nanumsquareroundb;
  font-size: 14*$large;
  color: #888888;
}
.android480 .appReviewUserIconWrap{
  width: 36*$large;
  height: 36*$large;
  border-radius: 25*$large;
  background-color: #aaaaaa;
  margin-top: 13*$large;
  margin-left: 15*$large;
}
.android480 .appReviewUserIcon{
  margin-top: 13*$large;
  margin-left: 15*$large;
  width: 36*$large;
  height: 36*$large;
  border-radius: 25*$large;
}
.android480 .appReviewUserNickNameWrap{
  width: 135*$large;
  margin-left: 10*$large;
  margin-top: 25*$large;
}
.android480 .appReviewUserNickName{
  font-family: nanumsquareroundb;
  font-size: 12*$large;
  color: #555555;
}
.android480 .appReviewRatingIcon{
  width: 18*$large;
  height: 18*$large;
  margin-left: 1*$large;
}
.android480 .appReviewBottomWrap{
  margin-bottom: 13*$large;
}
.android480 .appReviewDateWrap{
  margin-left: 15*$large;
}
.android480 .appReviewDate{
  font-family: nanumsquareroundr;
  font-size: 12*$large;
  color: #888888;
}
.android480 .appReviewLikeIconWrap{
  width: 14*$large;
  height: 12*$large;
  margin-left: 6*$large;
}
.android480 .appReviewLikeIcon{
  width: 14*$large;
  height:12*$large;
}
.android480 .appReviewLikeCountWrap{
  margin-left: 3*$large;
  width: 140*$large;
  height: 18*$large;
}
.android480 .appReviewLikeCount{
  height: 18*$large;
  font-family: nanumsquareroundb;
  font-size: 12*$large;
  color: #555555;
}
.android480 .appReviewDeleteWrap{
  height: 18*$large;
}
.android480 .appReviewDelete{
  height: 18*$large;
  font-family: nanumsquareroundb;
  font-size: 12*$large;
  color: #555555;
}

.android480 .appReviewRatingIcon1{
  width: 18*$large;
  height: 18*$large;
  margin-left: 225*$large;
}

.android480 .appReviewRatingIcon2{
  width: 18*$large;
  height: 18*$large;
  margin-left: 205*$large;
}
.android480 .appReviewRatingIcon3{
  width: 18*$large;
  height: 18*$large;
  margin-left: 185*$large;
}
.android480 .appReviewRatingIcon4{
  width: 18*$large;
  height: 18*$large;
  margin-left: 165*$large;
}
.android480 .appReviewRatingIcon5{
  width: 18*$large;
  height: 18*$large;
  margin-left: 145*$large;
}
.android480 .appReviewRatingIcon6{
  width: 18*$large;
  height: 18*$large;
  margin-left: 3*$large;
}



