$small:0.9;

.android320 .appReviewWriteIconWrap{
  width: 20*$small;
  height: 20*$small;
  margin-top: 10*$small;
}
.android320 .appReviewWriteIcon{
  width: 20*$small;
  height: 20*$small;
}
.android320 .appReviewHeaderWrap{
  margin-top: 15*$small;
  margin-left: 15*$small;
}
.android320 .appReviewHeaderIconWrap{
  width: 22*$small;
  height: 22*$small;
}
.android320 .appReviewHeaderRatingwrap{
  margin-left: 5*$small;
}
.android320 .appReviewHeaderRating{
  font-family: nanumsquareroundb;
  font-size: 18*$small;
  color: #333333;
}
.android320 .appReviewHeaderCountWrap{
  margin-left: 10*$small;
  margin-top: 4*$small;
}
.android320 .appReviewHeaderCount{
  font-family: nanumsquareroundb;
  font-size: 14*$small;
  color: #888888;
}
.android320 .appReviewUserIconWrap{
  width: 36*$small;
  height: 36*$small;
  border-radius: 25*$small;
  background-color: #aaaaaa;
  margin-top: 13*$small;
  margin-left: 15*$small;
}
.android320 .appReviewUserIcon{
  margin-top: 13*$small;
  margin-left: 15*$small;
  width: 36*$small;
  height: 36*$small;
  border-radius: 25*$small;
}
.android320 .appReviewUserNickNameWrap{
  width: 135*$small;
  margin-left: 10*$small;
  margin-top: 25*$small;
}
.android320 .appReviewUserNickName{
  font-family: nanumsquareroundb;
  font-size: 12*$small;
  color: #555555;
}
.android320 .appReviewRatingIcon{
  width: 18*$small;
  height: 18*$small;
  margin-left: 1*$small;
}
.android320 .appReviewBottomWrap{
  margin-bottom: 13*$small;
}
.android320 .appReviewDateWrap{
  margin-left: 15*$small;
}
.android320 .appReviewDate{
  font-family: nanumsquareroundr;
  font-size: 12*$small;
  color: #888888;
}
.android320 .appReviewLikeIconWrap{
  width: 14*$small;
  height: 12*$small;
  margin-left: 6*$small;
}
.android320 .appReviewLikeIcon{
  width: 14*$small;
  height:12*$small;
}
.android320 .appReviewLikeCountWrap{
  margin-left: 3*$small;
  width: 180*$small;
  height: 18*$small;
}
.android320 .appReviewLikeCount{
  height: 18*$small;
  font-family: nanumsquareroundb;
  font-size: 12*$small;
  color: #555555;
}
.android320 .appReviewDeleteWrap{
  height: 18*$small;
}
.android320 .appReviewDelete{
  height: 18*$small;
  font-family: nanumsquareroundb;
  font-size: 12*$small;
  color: #555555;
}

