$medium:1.142;

.android400 .appReviewWriteIconWrap{
  width: 20*$medium;
  height: 20*$medium;
  margin-top: 10*$medium;
}
.android400 .appReviewWriteIcon{
  width: 20*$medium;
  height: 20*$medium;
}
.android400 .appReviewHeaderWrap{
  margin-top: 15*$medium;
  margin-left: 15*$medium;
}
.android400 .appReviewHeaderIconWrap{
  width: 22*$medium;
  height: 22*$medium;
}
.android400 .appReviewHeaderRatingwrap{
  margin-left: 5*$medium;
}
.android400 .appReviewHeaderRating{
  font-family: nanumsquareroundb;
  font-size: 18*$medium;
  color: #333333;
}
.android400 .appReviewHeaderCountWrap{
  margin-left: 10*$medium;
  margin-top: 4*$medium;
}
.android400 .appReviewHeaderCount{
  font-family: nanumsquareroundb;
  font-size: 14*$medium;
  color: #888888;
}
.android400 .appReviewUserIconWrap{
  width: 36*$medium;
  height: 36*$medium;
  border-radius: 25*$medium;
  background-color: #aaaaaa;
  margin-top: 13*$medium;
  margin-left: 15*$medium;
}
.android400 .appReviewUserIcon{
  margin-top: 13*$medium;
  margin-left: 15*$medium;
  width: 36*$medium;
  height: 36*$medium;
  border-radius: 25*$medium;
}
.android400 .appReviewUserNickNameWrap{
  width: 135*$medium;
  margin-left: 10*$medium;
  margin-top: 25*$medium;
}
.android400 .appReviewUserNickName{
  font-family: nanumsquareroundb;
  font-size: 12*$medium;
  color: #555555;
}
.android400 .appReviewRatingIcon{
  width: 18*$medium;
  height: 18*$medium;
  margin-left: 1*$medium;
}
.android400 .appReviewBottomWrap{
  margin-bottom: 13*$medium;
}
.android400 .appReviewDateWrap{
  margin-left: 15*$medium;
}
.android400 .appReviewDate{
  font-family: nanumsquareroundr;
  font-size: 12*$medium;
  color: #888888;
}
.android400 .appReviewLikeIconWrap{
  width: 14*$medium;
  height: 12*$medium;
  margin-left: 6*$medium;
}
.android400 .appReviewLikeIcon{
  width: 14*$medium;
  height:12*$medium;
}
.android400 .appReviewLikeCountWrap{
  margin-left: 3*$medium;
  width: 180*$medium;
  height: 18*$medium;
}
.android400 .appReviewLikeCount{
  height: 18*$medium;
  font-family: nanumsquareroundb;
  font-size: 12*$medium;
  color: #555555;
}
.android400 .appReviewDeleteWrap{
  height: 18*$medium;
}
.android400 .appReviewDelete{
  height: 18*$medium;
  font-family: nanumsquareroundb;
  font-size: 12*$medium;
  color: #555555;
}

