.android360 .loginPageWrap{
  width: 100%;
  height: 100%;
  background-color: #333333;
}
.android360 .loginScreenTopWrap{
  width: 100%;
  height: 294;
  background-image: url('~/Resources/img/login/christopher_jolly_1_ib_8243_c_u_8_q_unsplash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.android360 .loginTitleMessageWrap{
  width: 360;
  margin-top: 48;

}
.android360 .loginTitleMessageMain{
  color: #ffe074;
  font-size: 25;
  font-family: nanumsquareroundb;
  margin-left: 15;
}
.android360 .loginTitleMessageMain2{
  color: #ffffff;
  font-size: 22;
  margin-top: 3;
  font-family: nanumsquareroundb;
}
.android360 .loginTitleMessageSubWrap{
  width: 360;
}
.android360 .loginTitleMessageSub{
  color: #ffffff;
  font-size: 24;
  font-family: nanumsquareroundb;
  margin-left: 15;
}
.android360 .loginBrandLogoWrap{
  width: 360;
  margin-top: 20;
}
.android360 .loginBrandLogo{
  font-size: 34;
  color: #ffe074;
  font-family: nanumsquareroundeb;
  margin-left: 15;
}
.android360 .loginBarogoMainWrap{
  width: 360;
}
.android360 .loginBarogoWrap{
  margin-top: 59;
}
.android360 .loginBarogo{
  font-size: 20;
  color: #ffe074;
  font-family: nanumsquareroundeb;
  margin-left: 15;
}
.android360 .loginBarogoRightWrap{
  width: 40;
  height: 40;
  background-color: #ffe074;
  border-radius: 25;
  margin-left: 13;
  margin-top: 49;
}
.android360 .loginBarogoRight{
  margin-top: 7;
  width: 25;
  height: 25;
}
.android360 .loginScreenBottomWrap{
  width: 360;
  height: 500;
  background-color: #333333;
}
.android360 .loginEmailWrap{
  width: 301;
  margin-top: 52;
  border-bottom-width: 1;
}
.android360 .loginEmail{
  font-family: nanumsquareroundr;
  font-size: 12;
  placeholder-color: #aaaaaa;
  text-align: left;
  background-color: #333333;
}
.android360 .loginPasswordWrap {
  width:301;
  margin-top: 32.5;
  border-bottom-width: 1;
}
.android360 .loginPassword{
  font-family: nanumsquareroundr;
  font-size: 12;
  placeholder-color: #aaaaaa;
  text-align: left;
  background-color: #333333;
}
.android360 .loginFindWrap{
  margin-left: 31;
}
.android360 .loginIdFindWrapWrap{
  width: 200;
}
.android360 .loginIdFindWrap{
  margin-top: 23.5;
}
.android360 .loginIdFind{
  color: #dddddd;
  font-size: 12;
  font-family: nanumsquareroundb;
}
.android360 .loginPasswordFindWrap{
  margin-top: 23.5;
}
.android360 .loginPasswordFind{
  color: #dddddd;
  font-size: 12;
  font-family: nanumsquareroundb;
}
.android360 .loginButtonWrap{
  background-color: #ffe074;
  width: 100;
  height: 36;
  border-radius: 18;
  text-align: center;
  margin-top: 11.5;
}
.android360 .loginButton{
  margin-top: 11;
  height: 17;
  color: #333333;
  font-size: 12;
  font-family: nanumsquareroundb;
}
.android360 .loginSocialWrap{
  width: 360;
  margin-top: 52;
}
.android360 .loginEmailJoinWrap{
  width: 180;
  height: 36;
  background-color: #eeeeee;
  border-radius: 18;
  text-align: center;
}
.android360 .loginEmailJoin{
  margin-top: 12;
  font-size: 12;
  color: #666666;
  font-family: nanumsquareroundb;
}
.android360 .loginKakaoJoinWrap{
  width: 180;
  height: 36;
  background-color: #eeeeee;
  border-radius: 18;
  text-align: center;
  margin-top: 16;
}
.android360 .loginKakaoIconWrap {
  width: 20;
  height: 20;
  margin-left: 41;
}
.android360 .loginKakaoIcon{
  width: 20;
  height: 20;
}
.android360 .loginKakaoLoginWrap{
  margin-left: 10;
}
.android360 .loginKakaoLogin{
  margin-top: 12;
  font-size: 12;
  color: #666666;
  font-family: nanumsquareroundeb;
}
.android360 .loginNaverJoinWrap{
  width: 180;
  height: 36;
  background-color: #eeeeee;
  border-radius: 18;
  text-align: center;
  margin-top:16;
}
.android360 .loginNaverIconWrap{
  width: 20;
  height: 20;
  margin-left: 41;
}
.android360 .loginNaverIcon{
  width: 20;
  height: 20;
}
.android360 .loginNaverLoginWrap{
  margin-left: 10;
}
.android360 .loginNaverLogin{
  margin-top: 12;
  font-size: 12;
  color: #666666;
  font-family: nanumsquareroundb;
}
