$small : 1.5;

.android320 .latelyKeywordHeaderWrap{
  width: 285*$small;
  border-bottom-color: #eeeeee;
  border-bottom-width: 1*$small;
  padding-bottom: 5;
  padding-top: 10;
}
.android320 .latelyKeywordKeywordWrap{
  width: 175;
}
.android320 .latelyKeywordKeyword{
  font-family: nanumsquareroundr;
  font-size: 12;
  color: #333333;
}
.android320 .latelyKeyWordDateWrap{
  width: 70;
}
.android320 .latelyKeywordDate{
  font-family: nanumsquareroundr;
  font-size: 12;
  color: #888888;
}
.android320 .latelyKeywordDeleteIconWrap{
  margin-left: 12*$small;
  margin-top: 0*$small;
  width: 10*$small;
  height: 10*$small;
}
.android320 .latelyKeywordDeleteIcon{
  width: 12*$small;
  height: 12*$small;
}
.android320 .latelyKeywordAllDeleteWrap{
  width: 360*$small;
  text-align: center;
  margin-top: 19.5*$small;
  height: 50*$small;
}
.android320 .latelyKeywordAllDelete{
  font-family: nanumsquareroundr;
  font-size: 12;
  color: #333333;
}


