$small : 0.9;


.android320 .findUserIdBarWrap{
  height: 56*$small;
  width: 360*$small;
  border-bottom-width: 1*$small;
  border-bottom-color: #dddddd;
}
.android320 .findUserIdBackIconWrap{
  width: 28*$small;
  height: 28*$small;
  margin-left: 6*$small;
  margin-top: 25*$small;
}
.android320 .findUserIdBackIcon{
  width: 16*$small;
  height: 16*$small;
}
.android320 .findUserIdBackWrap{
  width: 33*$small;
  height:13*$small;
  margin-top: 15*$small;
}
.android320 .findUserIdBack {
  font-size: 12*$small;
  font-family: nanumsquareroundb;
  width: 33*$small;
  height: 13*$small;
}
.android320 .findUserIdBarTitleWrap{
  margin-left: 84*$small;
  height: 16*$small;
  width: 68*$small;
  margin-top: 15*$small;
}
.android320 .findUserIdBarTitle{
  width: 68*$small;
  height:16*$small;
  font-family: nanumsquareroundb;
  font-size: 14*$small;
  color: #333333;
}

//패스워드 변경부분 아이디 변경이랑 같이씀.
.android480 .findUserPasswordBarTitleWrap{
  margin-left:78*$small;
  height: 16*$small;
  width: 80*$small;
  margin-top: 15*$small;
}
.android480 .findUserPasswordBarTitle{
  width: 80*$small;
  height:16*$small;
  font-family: nanumsquareroundb;
  font-size: 14*$small;
  color: #333333;
}


.android320 .findUserIdPhoneTitleWrapWrap{
  width: 360*$small;
  margin-top: 24*$small;
}
.android320 .findUserIdPhoneTitle{
  margin-left: 25*$small;
  font-family: nanumsquareroundr;
  color: #555555;
  font-size: 10*$small;
}
.android320 .findUserIdPhoneWrap{
  width: 360*$small;
}
.android320 .findUserIdPhoneNumberWrap{
  width: 311*$small;
  border-bottom-width: 1*$small;
  border-bottom-color: #aaaaaa;
}
.android320 .findUserIdPhoneNumberWrapWrap{
  width:285*$small;
}
.android320 .findUserIdPhoneNumber{
  font-size: 12*$small;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android320 .findUserIdPhoneDeleteWrap{
  width: 20*$small;
  height: 20*$small;
}
.android320 .findUserIdPhoneDelete{
  width: 20*$small;
  height: 20*$small;
}
.android320 .findUserIdBirthTitleWrap{
  margin-top: 24.5*$small;
}
.android .findUserIdBirthTitleWrap{
  width: 360*$small;
}
.android .findUserIdBirthTitle{
  margin-left: 25*$small;
  color: #555555;
  font-size: 10*$small;
  font-family: nanumsquareroundr;
}
.android320 .findUserIdOkButtomWrap{
  width: 360*$small;
}
.android320 .findUserIdOkButtomWrapWrap{
  margin-top: 24.5*$small;
  margin-left: 130*$small;
  margin-right: 130*$small;
  width: 100*$small;
  background-color: #dddddd;
  border-radius: 16*$small;
  text-align: center;
  height: 32*$small;
}
.android320 .findUserIdOkButtom{
  margin-top: 9*$small;
  height: 14*$small;
  font-size: 12*$small;
  color: #ffffff;
  font-family: nanumsquareroundb;
}
.android320 .findUserIdOkButtomWrapWrap2{
  margin-top: 24.5*$small;
  margin-left: 130*$small;
  margin-right: 130*$small;
  width: 100*$small;
  background-color: #ffe074;
  border-radius: 16*$small;
  text-align: center;
  height: 32*$small;
}
.android320 .findUserIdOkButtom2{
  margin-top: 9*$small;
  height: 14*$small;
  font-size: 12*$small;
  color: #555555;
  font-family: nanumsquareroundb;
}

