.android360 .tistoryMarkMainWrap{
  width: 330;
  height: 104;
  background-color: #ffffff;
}
.android360 .tistoryMarkTitleWrap{
  width: 305;
  height: 30;
}
.android360 .tistoryMarkTitle{
  margin-top: 15;
  width: 305;
  height: 30;
  font-family: nanumsquareroundeb;
  color: #494949;
  font-size: 12;
}
.android360 .tistoryMarkSubWrap{
  width: 360;
  height: 60;
  margin-top: 6;
}
.android360 .tistoryMarkImageWrap{
  width: 58;
  height: 58;
  margin-left: 15;
}
.android .tistoryMarkImage{
  height: 58;
  width: 58;
  border-radius: 8;
}
.android .tistoryMarkRightWrap{
  width: 245;
  height: 58;
}
.android360 .tistoryMarkContentsWrap{
  width: 240;
  height: 29;
  padding: 0;
  margin-left: 25;
}
.android360 .tistoryMarkContents{
  width:235;
  padding: 0;
  height: 29;
  font-family: nanumsquareroundr;
  font-size: 11;
  color: #555555;
  line-height:5;
}
.android360 .tistoryMarkDateWriterWrap{
  width: 229;
  height: 30;
  margin-left: 15;
}
.android .tistoryMarkDateWrap{
  width: 60;
  height: 30;
}
.android .tistoryMarkWriterWrap{
  width: 80;
  height: 30;
}
.android360 .tistoryMarkDate{
  width: 60;
  height: 30;
  font-size: 10;
  margin-top: 15;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android360 .tistoryMarkWriter{
  width: 80;
  height: 30;
  font-size: 10;
  margin-top: 15;
  font-family: nanumsquareroundr;
  color: #888888;
}

.android360 .tistoryMarkNoImageWrap{
  width: 330;
  height: 58;
}

.android360 .tistoryMarkNoImgContentsWrap{
  width: 300;
  height: 29;
  padding: 0;
}
.android360 .tistoryMarkNoImgContents{
  width:300;
  padding: 0;
  height: 29;
  font-family: nanumsquareroundr;
  font-size: 11;
  color: #555555;
  line-height:5;
}
.android360 .tistoryMarkNoImgDateWriterWrap{
  width: 300;
  height: 30;
}
.android .tistoryMarkNoImgDateWrap{
  width: 60;
  height: 30;
}
.android .tistoryMarkNoImgWriterWrap{
  width: 80;
  height: 30;
}
.android360 .tistoryMarkNoImgDate{
  width: 60;
  height: 30;
  font-size: 10;
  margin-top: 15;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android360 .tistoryMarkNoImgWriter{
  width: 80;
  height: 30;
  font-size: 10;
  margin-top: 15;
  font-family: nanumsquareroundr;
  color: #888888;
}

