$small : 0.9;

.android320 .tistoryMarkMainWrap{
  width: 330*$small;
  height: 104*$small;
  background-color: #ffffff;
}
.android320 .tistoryMarkTitleWrap{
  width: 305*$small;
  height: 30*$small;
}
.android320 .tistoryMarkTitle{
  width: 305*$small;
  height: 30*$small;
  font-family: nanumsquareroundeb;
  color: #494949;
  font-size: 12*$small;
  margin-top: 15*$small;
}
.android320 .tistoryMarkSubWrap{
  width: 360*$small;
  height: 60*$small;
  margin-top: 6*$small;
}
.android320 .tistoryMarkImageWrap{
  width: 58*$small;
  height: 58*$small;
  margin-left: 15*$small;
}
.android320 .tistoryMarkImage{
  height: 58*$small;
  width: 58*$small;
}
.android320 .tistoryMarkRightWrap{
  width: 240*$small;
  height: 58*$small;
}
.android320 .tistoryMarkContentsWrap{
  width: 235*$small;
  height: 29*$small;
  padding: 0*$small;
  margin-left: 25*$small;
}
.android320 .tistoryMarkContents{
  width:229*$small;
  padding: 0*$small;
  height: 29*$small;
  font-family: nanumsquareroundr;
  font-size: 11*$small;
  color: #555555;
  line-height:5*$small;
}
.android320 .tistoryMarkDateWriterWrap{
  width: 229*$small;
  height: 30*$small;
  margin-left: 15*$small;
}
.android320 .tistoryMarkDateWrap{
  width: 60*$small;
  height: 30*$small;
}
.android320 .tistoryMarkWriterWrap{
  width: 80*$small;
  height: 30*$small;
}
.android320 .tistoryMarkDate{
  width: 60*$small;
  height: 30*$small;
  font-size: 10*$small;
  margin-top: 15*$small;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android320 .tistoryMarkWriter{
  width: 80*$small;
  height: 30*$small;
  font-size: 10*$small;
  margin-top: 15*$small;
  font-family: nanumsquareroundr;
  color: #888888;
}

.android320 .tistoryMarkNoImageWrap{
  width: 330*$small;
  height: 58*$small;
}

.android320 .tistoryMarkNoImgContentsWrap{
  width: 300*$small;
  height: 29*$small;
  padding: 0*$small;
}
.android320 .tistoryMarkNoImgContents{
  width:300*$small;
  padding: 0*$small;
  height: 29*$small;
  font-family: nanumsquareroundr;
  font-size: 11*$small;
  color: #555555;
  line-height:5*$small;
}
.android320 .tistoryMarkNoImgDateWriterWrap{
  width: 300*$small;
  height: 30*$small;
}
.android320 .tistoryMarkNoImgDateWrap{
  width: 60*$small;
  height: 30*$small;
}
.android320 .tistoryMarkNoImgWriterWrap{
  width: 80*$small;
  height: 30*$small;
}
.android320 .tistoryMarkNoImgDate{
  width: 60*$small;
  height: 30*$small;
  font-size: 10*$small;
  margin-top: 15*$small;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android320 .tistoryMarkNoImgWriter{
  width: 80*$small;
  height: 30*$small;
  font-size: 10*$small;
  margin-top: 15*$small;
  font-family: nanumsquareroundr;
  color: #888888;
}

