$medium : 1.142;


.android400 .tistoryMarkMainWrap{
  width: 330*$medium;
  height: 104*$medium;
  background-color: #ffffff;
}
.android400 .tistoryMarkTitleWrap{
  width: 305*$medium;
  height: 30*$medium;
}
.android400 .tistoryMarkTitle{
  margin-top: 15*$medium;
  width: 305*$medium;
  height: 30*$medium;
  font-family: nanumsquareroundeb;
  color: #494949;
  font-size: 12*$medium;
}
.android400 .tistoryMarkSubWrap{
  width: 360*$medium;
  height: 60*$medium;
  margin-top: 6*$medium;
}
.android400 .tistoryMarkImageWrap{
  width: 58*$medium;
  height: 58*$medium;
  margin-left: 15*$medium;
}
.android400 .tistoryMarkImage{
  height: 58*$medium;
  width: 58*$medium;
}
.android400 .tistoryMarkRightWrap{
  width: 245*$medium;
  height: 58*$medium;
}
.android400 .tistoryMarkContentsWrap{
  width: 240*$medium;
  height: 29*$medium;
  padding: 0*$medium;
  margin-left: 25*$medium;
}
.android400 .tistoryMarkContents{
  width:235*$medium;
  padding: 0*$medium;
  height: 29*$medium;
  font-family: nanumsquareroundr;
  font-size: 11*$medium;
  color: #555555;
  line-height:5*$medium;
}
.android400 .tistoryMarkDateWriterWrap{
  width: 229*$medium;
  height: 30*$medium;
  margin-left: 15*$medium;
}
.android400 .tistoryMarkDateWrap{
  width: 60*$medium;
  height: 30*$medium;
}
.android400 .tistoryMarkWriterWrap{
  width: 80*$medium;
  height: 30*$medium;
}
.android400 .tistoryMarkDate{
  width: 60*$medium;
  height: 30*$medium;
  font-size: 10*$medium;
  margin-top: 15*$medium;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android400 .tistoryMarkWriter{
  width: 80*$medium;
  height: 30*$medium;
  font-size: 10*$medium;
  margin-top: 51*$medium;
  font-family: nanumsquareroundr;
  color: #888888;
}

.android400 .tistoryMarkNoImageWrap{
  width: 330*$medium;
  height: 58*$medium;
}

.android400 .tistoryMarkNoImgContentsWrap{
  width: 300*$medium;
  height: 29*$medium;
  padding: 0*$medium;
}
.android400 .tistoryMarkNoImgContents{
  width:300*$medium;
  padding: 0*$medium;
  height: 29*$medium;
  font-family: nanumsquareroundr;
  font-size: 11*$medium;
  color: #555555;
  line-height:5*$medium;
}
.android400 .tistoryMarkNoImgDateWriterWrap{
  width: 300*$medium;
  height: 30*$medium;
}
.android400 .tistoryMarkNoImgDateWrap{
  width: 60*$medium;
  height: 30*$medium;
}
.android400 .tistoryMarkNoImgWriterWrap{
  width: 80*$medium;
  height: 30*$medium;
}
.android400 .tistoryMarkNoImgDate{
  width: 60*$medium;
  height: 30*$medium;
  font-size: 10*$medium;
  margin-top: 15*$medium;
  font-family: nanumsquareroundr;
  color: #888888;
}
.android400 .tistoryMarkNoImgWriter{
  width: 80*$medium;
  height: 30*$medium;
  font-size: 10*$medium;
  margin-top: 15*$medium;
  font-family: nanumsquareroundr;
  color: #888888;
}


