.android360 .tistoryListTitle{
  font-size: 13;
  color: #333333;
  font-family: nanumsquareroundb;
  width: 50;
  height: 20;
  margin-top: 23;
}
.android360 .tistoryListMore{
  width: 36;
  height: 13;
  margin-top: 15;
  font-size: 12;
  color: #333333;
  font-family: nanumsquareroundb;
  margin-left: 218;
}
.android360 .tistoryListSubjectWrap{
  padding-top: 12;
  padding-left: 8;
  padding-right: 9;
}
.android360 .tistoryListSubject{
  font-size: 13;
  font-family: nanumsquareroundb;
  color: #333333;
  height: 33;
  line-height:5;
}
.android360 .tistoryListDateInfoWrap{
;margin-top: 16;
  padding-left: 10;
}
