$large : 1.5;

.android480 .infoEnterCommonTitleWrap{
  margin-top: 20*$large;
  width: 311*$large;
}
.android480 .infoEnterCommonTitle{
  font-family: nanumsquareroundr;
  font-size: 10*$large;
  color: #555555;
}
.android480 .infoEnterCommonContentsWrap{
  width: 311*$large;
  border-bottom-color: #aaaaaa;
  border-bottom-width: 1*$large;
}
.android480 .infoEnterCommonContentsWrapWrap{
  width: 285*$large;
  margin-top: 5*$large;
}
.android480 .infoEnterCommonContents{
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12*$large;
  background-color: #ffffff;
}
.android480 .infoEnterValidation{
  margin-top: 10*$large;
  margin-left: 25*$large;
}
.android480 .infoEnterValidationGray{
  color: #888888;
  font-size: 10*$large;
  font-family: nanumsquareroundr;
}
.android480 .infoEnterValidationRed{
  font-family: nanumsquareroundr;
  font-size: 10*$large;
  color: #db522b;
}
.android480 .infoEnterBirthTitleWrap{
  width: 147*$large;
}
.android480 .infoEnterBirthIconWrap{
  width: 14*$large;
  height: 14*$large;
}
.android480 .infoEnterBirthMessageWrap{
  text-align: right;
  margin-left: 4*$large;
}
.android480 .infoEnterBirthMessage{
  font-size: 10*$large;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android480 .infoEnterGenderWrap{
  margin-top: 10*$large;
}
.android480 .infoEnterGenderIconWrap{
  width: 15*$large;
  height: 15*$large;
  border-radius: 25*$large;
  border-width: 2*$large;
  border-color: #ffe074;
  margin-left: 24*$large;
}
.android480 .infoEnterGenderIconWrap2{
  width: 15*$large;
  height: 15*$large;
  border-radius: 25*$large;
  border-width: 2*$large;
  border-color: #dddddd;
  margin-left: 27*$large;
}
.android480 .infoEnterGenderIcon{
  width: 7*$large;
  height: 7*$large;
  background-color: #ffe074;
  border-radius: 25*$large;
  margin-top: 1.5*$large;
}
.android480 .infoEnterGenderTitleWrap{
  margin-left: 7*$large;
}
.android480 .infoEnterGenderTitle{
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12*$large;
}
.android480 .joinOkWrap{
  margin-top: 32*$large;
  border-radius: 16*$large;
  background-color: #dddddd;
  width: 100*$large;
  height: 32*$large;
  text-align: center;
}
.android480 .joinOkWrap2{
  width: 100*$large;
  height: 32*$large;
  margin-top: 32*$large;
  border-radius: 16*$large;
  text-align: center;
  background-color: #ffe074;

}
.android480 .joinOk{
  font-size: 12*$large;
  font-family: nanumsquareroundb;
  color: #ffffff;
  margin-top: 9*$large;
}
.android480 .joinOk2{
  font-size: 12*$large;
  font-family: nanumsquareroundb;
  color: #555555;
  margin-top: 9*$large;
}

