$medium : 1.142;

.android400 .infoEnterCommonTitleWrap{
  margin-top: 20*$medium;
  width: 311*$medium;
}
.android400 .infoEnterCommonTitle{
  font-family: nanumsquareroundr;
  font-size: 10*$medium;
  color: #555555;
}
.android400 .infoEnterCommonContentsWrap{
  width: 311*$medium;
  border-bottom-color: #aaaaaa;
  border-bottom-width: 1*$medium;
}
.android400 .infoEnterCommonContentsWrapWrap{
  width: 285*$medium;
  margin-top: 5*$medium;
}
.android400 .infoEnterCommonContents{
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12*$medium;
  background-color: #ffffff;
}
.android400 .infoEnterValidation{
  margin-top: 10*$medium;
  margin-left: 25*$medium;
}
.android400 .infoEnterValidationGray{
  color: #888888;
  font-size: 10*$medium;
  font-family: nanumsquareroundr;
}
.android400 .infoEnterValidationRed{
  font-family: nanumsquareroundr;
  font-size: 10*$medium;
  color: #db522b;
}
.android400 .infoEnterBirthTitleWrap{
  width: 147*$medium;
}
.android400 .infoEnterBirthIconWrap{
  width: 14*$medium;
  height: 14*$medium;
  margin-left: 26.29*$medium;
}
.android400 .infoEnterBirthMessageWrap{
  text-align: right;
  margin-left: 4*$medium;
}
.android400 .infoEnterBirthMessage{
  font-size: 10*$medium;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android400 .infoEnterGenderWrap{
  margin-top: 10*$medium;
}
.android400 .infoEnterGenderIconWrap{
  width: 15*$medium;
  height: 15*$medium;
  border-radius: 25*$medium;
  border-width: 2*$medium;
  border-color: #ffe074;
  margin-left: 24*$medium;
}
.android400 .infoEnterGenderIconWrap2{
  width: 15*$medium;
  height: 15*$medium;
  border-radius: 25*$medium;
  border-width: 2*$medium;
  border-color: #dddddd;
  margin-left: 27*$medium;
}
.android400 .infoEnterGenderIcon{
  width: 7*$medium;
  height: 7*$medium;
  background-color: #ffe074;
  border-radius: 25*$medium;
  margin-top: 1.5*$medium;
}
.android400 .infoEnterGenderTitleWrap{
  margin-left: 7*$medium;
}
.android400 .infoEnterGenderTitle{
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12*$medium;
}
.android400 .joinOkWrap{
  margin-top: 32*$medium;
  border-radius: 16*$medium;
  background-color: #dddddd;
  width: 100*$medium;
  height: 32*$medium;
  text-align: center;
}
.android400 .joinOkWrap2{
  width: 100*$medium;
  height: 32*$medium;
  margin-top: 32*$medium;
  border-radius: 16*$medium;
  text-align: center;
  background-color: #ffe074;

}
.android400 .joinOk{
  font-size: 12*$medium;
  font-family: nanumsquareroundb;
  color: #ffffff;
  margin-top: 9*$medium;
}
.android400 .joinOk2{
  font-size: 12*$medium;
  font-family: nanumsquareroundb;
  color: #555555;
  margin-top: 9*$medium;
}

