.android360 .youtubeListHeaderWrap{
  margin-top:10;
}
.android360 .youtubeListIcon{
  width:17;
  height:12;
  margin-top: 16;
  margin-left: 15;
}
.android360 .youtubeListTitle{
  width: 36;
  height: 14;
  font-size: 13;
  margin-top: 15;
  color: #333333;
  font-family: nanumsquareroundb;
  margin-left: 6;
}
.android360 .youtubeListMore{
  width: 36;
  height: 13;
  font-size: 12;
  font-family: nanumsquareroundb;
  color: #333333;
  margin-top: 13;
  margin-left: 226;
}
.android360 .youtubeListMoreIcon{
  width: 10;
  height: 10;
  margin-top: 13;
}
.android360 .youtubeListContentsWrap{
  height: 170;
}
.android360 .youtubeListDataTopWrap{
  width: 150;
  height: 140;
  margin-left: 15;
}
.android360 .youtubeListThumbnail{
  width: 100%;
  height: 84;
}
.android360 .youtubeListBottomWrap{
  background-color: #ffffff;
  padding-left: 10;
  padding-right: 10;
}
.android360 .youtubeListDescription{
  line-height:5;
  background-color: #ffffff;
  border-width: 0;
  color: #333333;
  font-family: nanumsquareroundb;
  font-size: 12;
  height: 52;
}
.android360 .youtubeListNonContentsWrap{
  height: 106;
}
.android360 .youtubeListNonContentsWrapWrap{
  margin-left:140;
  margin-top: 41;
  width: 85;
}
.android360 .youtubeListNonContents{
  color: #cccccc;
  font-size: 12;
  font-family: nanumsquareroundb;
}
