$medium : 1.142;

.android400 .naverListHeaderWrap{
  margin-bottom: 10*$medium;
}
.android400 .naverListTopWrap{
  background-color: #ffffff;
  width: 260*$medium;
  margin-top: 16*$medium;
  margin-left: 15*$medium;
  border-color: #eeeeee;
  margin-bottom: 15*$medium;
}
.android400 .naverListThumbnailWrap{
  width: 70*$medium;
  height: 70*$medium;
  margin-left: 9*$medium;
  margin-top: 10*$medium;
  margin-bottom: 10*$medium;
}
.android400 .naverListThumbnail{
  width: 100%;
  height: 100%;
  border-radius: 8*$medium;
}
.android400 .naverListTitle{
  width:150*$medium;
  height: 18*$medium;
  margin-left: 12*$medium;
  margin-top: 12*$medium;
  font-family: nanumsquareroundb;
  color: #333333;
  font-size: 13*$medium;
}
.android400 .naverListDescription{
  margin-top: 6*$medium;
  margin-left: 12*$medium;
  width: 150*$medium;
  height: 18*$medium;
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12*$medium;
}
.android400 .naverListDateInfoWrap{
  margin-top: 7*$medium;
  margin-left: 12*$medium;
  width: 150*$medium;
}
.android400 .naverListDate{
  width: 80*$medium;
  height: 18*$medium;
  color: #888888;
  font-family: nanumsquareroundr;
  font-size: 11*$medium;
}
.android400 .naverListWriter{
  height: 18*$medium;
  color: #888888;
  font-family: nanumsquareroundr;
  font-size: 11*$medium;
}
.android400 .naverListBottomWrap{
  height: 106*$medium;
}
.android400 .naverListNonContentsWrap{
  margin-left: 140*$medium;
  margin-top: 41*$medium;
  width: 90*$medium;
}
.android400 .naverListNonContents{
  color: #cccccc;
  font-size: 12*$medium;
  font-family: nanumsquareroundb;
}

