.android360 .naverListHeaderWrap{
  margin-bottom: 10;
}
.android360 .naverListTopWrap{
  background-color: #ffffff;
  width: 260;
  margin-top: 16;
  margin-left: 15;
  border-color: #eeeeee;
  margin-bottom: 15;
}
.android360 .naverListThumbnailWrap{
  width: 70;
  height: 70;
  margin-left: 9;
  margin-top: 10;
  margin-bottom: 10;
}
.android360 .naverListThumbnail{
  width: 100%;
  height: 100%;
  border-radius: 8;
}
.android360 .naverListTitle{
  width:150;
  height: 18;
  margin-left: 12;
  margin-top: 12;
  font-family: nanumsquareroundb;
  color: #333333;
  font-size: 13;
}
.android360 .naverListDescription{
  margin-top: 6;
  margin-left: 12;
  width: 150;
  height: 18;
  font-family: nanumsquareroundr;
  color: #333333;
  font-size: 12;
}
.android360 .naverListDateInfoWrap{
  margin-top: 7;
  margin-left: 12;
  width: 150;
}
.android360 .naverListDate{
  width: 80;
  height: 18;
  color: #888888;
  font-family: nanumsquareroundr;
  font-size: 11;
}
.android360 .naverListWriter{
  height: 18;
  color: #888888;
  font-family: nanumsquareroundr;
  font-size: 11;
}
.android360 .naverListBottomWrap{
  height: 106;
}
.android360 .naverListNonContentsWrap{
  margin-left: 140;
  margin-top: 41;
  width: 90;
}
.android360 .naverListNonContents{
  color: #cccccc;
  font-size: 12;
  font-family: nanumsquareroundb;
}
