$large : 1.5;

.android480 .placeDetailBarWrap{
  background-color:#ffffff;
  border-bottom-width: 1*$large;
  border-bottom-color: #dddddd;
}
.android480 .placeDetailBackIconWrap{
  width: 28*$large;
  height:28*$large;
  margin-top: 25*$large;
}
.android480 .placeDetailBackIcon{
  width: 15*$large;
  height: 15*$large;
}
.android480 .placeDetailBackTitleWrap{
  margin-top: 25*$large;
}
.android480 .placeDetailBackTitle{
  font-size: 12*$large;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android480 .placeDetailBookmarkWrap{
  margin-top: 25*$large;
  margin-left: 216*$large;
}
.android480 .placeDetailBookmark{
  width: 20*$large;
  height: 20*$large;
}
.android480 .placeDetailShareWrap{
  margin-left: 17*$large;
  margin-top: 25*$large;
}
.android480 .placeDetailShare{
  width: 18*$large;
  height: 18*$large;
}
.android480 .placeDetailScrollWrap{
  background-color: #eff2f7;
}
.android480 .placeDetailCategoryWrap{
  margin-top: 16*$large;
  margin-left: 25*$large;
}
.android480 .placeDetailCategory{
  font-size: 11*$large;
  color: #555555;
  font-family: nanumsquareroundb;
}
.android480 .placeDetailPlaceNameWrap{
  margin-top: 8*$large;
  margin-left: 25*$large;
}
.android480 .placeDetailPlaceName{
  font-size: 16*$large;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android480 .placeDetailMapWrap{
  width: 310*$large;
  margin-top: 13*$large;
  height: 180*$large;
}
.android480 .placeDetailMap{
  width: 100%;
  height: 100%;
}
.android480 .placeDetailTelNoWrap{
  margin-left: 25*$large;
  margin-top: 15*$large;
}
.android480 .placeDetailTelNo{
  color:#555555;
  font-size: 11*$large;
  font-family: nanumsquareroundr;
}
.android480 .placeDetailAddressWrap{
  margin-left: 25*$large;
  margin-top: 8*$large;
}
.android480 .placeDetailAddress{
  color: #555555;
  font-size: 11*$large;
  font-family: nanumsquareroundr;
}
.android480 .placeDetailOpenWrap{
  width: 50*$large;
  text-align: center;
}
.android480 .placeDetailOpenIconWrap{
  width: 34*$large;
  height: 34*$large;
  background-color: #ffe074;
  border-radius: 25*$large;

}
.android480 .placeDetailOpenIcon{
  width: 24*$large;
  height: 24*$large;
  margin-top: 5*$large;
}
.android480 .placeDetailRatingWrap{
  text-align: center;
  margin-left: 46*$large;
}
.android480 .placeDetailRatingIconWrap{
  width: 34*$large;
  height: 34*$large;
  background-color: #ffe074;
  border-radius: 25*$large;
}
.android480 .placeDetailRatingIcon{
  width: 26*$large;
  height: 26*$large;
  margin-top: 4*$large;
}
.android480 .placeDetailTellingWrap{
  margin-left: 46*$large;
  text-align: center;
}
.android480 .placeDetailTellingIconWrap{
  width: 34*$large;
  height: 34*$large;
  background-color: #ffe074;
  border-radius: 25*$large;
}
.android480 .placeDetailTellingIcon{
  width: 18*$large;
  height: 18*$large;
  margin-top: 8*$large;
}
.android480 .placeDetailMarkerWrap{
  margin-left: 47*$large;
  text-align: center;
}
.android480 .placeDetailMarkerIconWrap{
  width: 34*$large;
  height: 34*$large;
  background-color: #ffe074;
  border-radius: 25*$large;
}
.android480 .placeDetailMarkerIcon{
  width: 20*$large;
  height: 20*$large;
  margin-top: 5*$large;

}
.android480 .placeDetailOpenTitleWrap{
  margin-top: 8*$large;
}
.android480 .placeDetailOpenTitle{
  font-family: nanumsquareroundr;
  font-size: 12*$large;
  color: #555555;
}
.android480 .placeDetailRatingTitleWrap{
  margin-top: 8*$large;
}
.android480 .placeDetailRatingTitle{
  font-size: 12*$large;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android480 .placeDetailTellingTitleWrap{
  margin-top: 7*$large;
}
.android480 .placeDetailTellingTitle{
  font-size: 12*$large;
  color: #555555;
  font-family: nanumsquareroundr;

}
.android480 .placeDetailCopyTitleWrap{
  margin-top: 7*$large;
}
.android480 .placeDetailCopyTitle{
  font-size: 12*$large;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android480 .placeDetailInfoWrap{
  width: 310*$large;
  height: 55*$large;
  margin-top: 24*$large;
}

