$medium : 1.142;

.android400 .placeDetailBarWrap{
  background-color:#ffffff;
  border-bottom-width: 1*$medium;
  border-bottom-color: #dddddd;
}
.android400 .placeDetailBackIconWrap{
  width: 28*$medium;
  height:28*$medium;
  margin-top: 25*$medium;
}
.android400 .placeDetailBackIcon{
  width: 15*$medium;
  height: 15*$medium;
}
.android400 .placeDetailBackTitleWrap{
  margin-top: 25*$medium;
}
.android400 .placeDetailBackTitle{
  font-size: 12*$medium;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android400 .placeDetailBookmarkWrap{
  margin-top: 25*$medium;
  margin-left: 216*$medium;
}
.android400 .placeDetailBookmark{
  width: 20*$medium;
  height: 20*$medium;
}
.android400 .placeDetailShareWrap{
  margin-left: 17*$medium;
  margin-top: 25*$medium;
}
.android400 .placeDetailShare{
  width: 18*$medium;
  height: 18*$medium;
}
.android400 .placeDetailScrollWrap{
  background-color: #eff2f7;
}
.android400 .placeDetailCategoryWrap{
  margin-top: 16*$medium;
  margin-left: 25*$medium;
}
.android400 .placeDetailCategory{
  font-size: 11*$medium;
  color: #555555;
  font-family: nanumsquareroundb;
}
.android400 .placeDetailPlaceNameWrap{
  margin-top: 8*$medium;
  margin-left: 25*$medium;
}
.android400 .placeDetailPlaceName{
  font-size: 16*$medium;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android400 .placeDetailMapWrap{
  width: 310*$medium;
  margin-top: 13*$medium;
  height: 180*$medium;
}
.android400 .placeDetailMap{
  width: 100%;
  height: 100%;
}
.android400 .placeDetailTelNoWrap{
  margin-left: 25*$medium;
  margin-top: 15*$medium;
}
.android400 .placeDetailTelNo{
  color:#555555;
  font-size: 11*$medium;
  font-family: nanumsquareroundr;
}
.android400 .placeDetailAddressWrap{
  margin-left: 25*$medium;
  margin-top: 8*$medium;
}
.android400 .placeDetailAddress{
  color: #555555;
  font-size: 11*$medium;
  font-family: nanumsquareroundr;
}
.android400 .placeDetailOpenWrap{
  width: 50*$medium;
  text-align: center;
}
.android400 .placeDetailOpenIconWrap{
  width: 34*$medium;
  height: 34*$medium;
  background-color: #ffe074;
  border-radius: 25*$medium;

}
.android400 .placeDetailOpenIcon{
  width: 24*$medium;
  height: 24*$medium;
  margin-top: 5*$medium;
}
.android400 .placeDetailRatingWrap{
  text-align: center;
  margin-left: 46*$medium;
}
.android400 .placeDetailRatingIconWrap{
  width: 34*$medium;
  height: 34*$medium;
  background-color: #ffe074;
  border-radius: 25*$medium;
}
.android400 .placeDetailRatingIcon{
  width: 26*$medium;
  height: 26*$medium;
  margin-top: 4*$medium;
}
.android400 .placeDetailTellingWrap{
  margin-left: 46*$medium;
  text-align: center;
}
.android400 .placeDetailTellingIconWrap{
  width: 34*$medium;
  height: 34*$medium;
  background-color: #ffe074;
  border-radius: 25*$medium;
}
.android400 .placeDetailTellingIcon{
  width: 18*$medium;
  height: 18*$medium;
  margin-top: 8*$medium;
}
.android400 .placeDetailMarkerWrap{
  margin-left: 49*$medium;
  text-align: center;
}
.android400 .placeDetailMarkerIconWrap{
  width: 34*$medium;
  height: 34*$medium;
  background-color: #ffe074;
  border-radius: 25*$medium;
}
.android400 .placeDetailMarkerIcon{
  width: 20*$medium;
  height: 20*$medium;
  margin-top: 5*$medium;

}
.android400 .placeDetailOpenTitleWrap{
  margin-top: 8*$medium;
}
.android400 .placeDetailOpenTitle{
  font-family: nanumsquareroundr;
  font-size: 12*$medium;
  color: #555555;
}
.android400 .placeDetailRatingTitleWrap{
  margin-top: 8*$medium;
}
.android400 .placeDetailRatingTitle{
  font-size: 12*$medium;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android400 .placeDetailTellingTitleWrap{
  margin-top: 7*$medium;
}
.android400 .placeDetailTellingTitle{
  font-size: 12*$medium;
  color: #555555;
  font-family: nanumsquareroundr;

}
.android400 .placeDetailCopyTitleWrap{
  margin-top: 7*$medium;
}
.android400 .placeDetailCopyTitle{
  font-size: 12*$medium;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android400 .placeDetailInfoWrap{
  width: 310*$medium;
  height: 55*$medium;
  margin-top: 24*$medium;
}

