.android360 .placeDetailBarWrap{
  background-color:#ffffff;
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
}
.android360 .placeDetailBackIconWrap{
  width: 28;
  height:28;
  margin-top: 25;
}
.android360 .placeDetailBackIcon{
  width: 15;
  height: 15;
}
.android360 .placeDetailBackTitleWrap{
  margin-top: 25;
}
.android360 .placeDetailBackTitle{
  font-size: 12;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android360 .placeDetailBookmarkWrap{
  margin-top: 25;
  margin-left: 216;
}
.android360 .placeDetailBookmark{
  width: 20;
  height: 20;
}
.android360 .placeDetailShareWrap{
  margin-left: 17;
  margin-top: 25;
}
.android360 .placeDetailShare{
  width: 18;
  height: 18;
}
.android360 .placeDetailScrollWrap{
  background-color: #eff2f7;
}
.android360 .placeDetailCategoryWrap{
  margin-top: 16;
  margin-left: 25;
}
.android360 .placeDetailCategory{
  font-size: 11;
  color: #555555;
  font-family: nanumsquareroundb;
}
.android360 .placeDetailPlaceNameWrap{
  margin-top: 8;
  margin-left: 25;
}
.android360 .placeDetailPlaceName{
  font-size: 16;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android360 .placeDetailMapWrap{
  width: 310;
  margin-top: 13;
  height: 180;
}
.android360 .placeDetailMap{
  width: 100%;
  height: 100%;
}
.android360 .placeDetailTelNoWrap{
  margin-left: 25;
  margin-top: 15;
}
.android360 .placeDetailTelNo{
  color:#555555;
  font-size: 11;
  font-family: nanumsquareroundr;
}
.android360 .placeDetailAddressWrap{
  margin-left: 25;
  margin-top: 8;
}
.android360 .placeDetailAddress{
  color: #555555;
  font-size: 11;
  font-family: nanumsquareroundr;
}
.android360 .placeDetailOpenWrap{
  width: 50;
  text-align: center;
}
.android360 .placeDetailOpenIconWrap{
  width: 34;
  height: 34;
  background-color: #ffe074;
  border-radius: 25;

}
.android360 .placeDetailOpenIcon{
  width: 24;
  height: 24;
  margin-top: 5;
}
.android360 .placeDetailRatingWrap{
  text-align: center;
  margin-left: 46;
}
.android360 .placeDetailRatingIconWrap{
  width: 34;
  height: 34;
  background-color: #ffe074;
  border-radius: 25;
}
.android360 .placeDetailRatingIcon{
  width: 26;
  height: 26;
  margin-top: 4;
}
.android360 .placeDetailTellingWrap{
  margin-left: 46;
  text-align: center;
}
.android360 .placeDetailTellingIconWrap{
  width: 34;
  height: 34;
  background-color: #ffe074;
  border-radius: 25;
}
.android360 .placeDetailTellingIcon{
  width: 18;
  height: 18;
  margin-top: 8;
}
.android360 .placeDetailMarkerWrap{
  margin-left: 46;
  text-align: center;
}
.android360 .placeDetailMarkerIconWrap{
  width: 34;
  height: 34;
  background-color: #ffe074;
  border-radius: 25;
}
.android360 .placeDetailMarkerIcon{
  width: 20;
  height: 20;
  margin-top: 5;

}
.android360 .placeDetailOpenTitleWrap{
  margin-top: 8;
}
.android360 .placeDetailOpenTitle{
  font-family: nanumsquareroundr;
  font-size: 12;
  color: #555555;
}
.android360 .placeDetailRatingTitleWrap{
  margin-top: 8;
}
.android360 .placeDetailRatingTitle{
  font-size: 12;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android360 .placeDetailTellingTitleWrap{
  margin-top: 7;
}
.android360 .placeDetailTellingTitle{
  font-size: 12;
  color: #555555;
  font-family: nanumsquareroundr;

}
.android360 .placeDetailCopyTitleWrap{
  margin-top: 7;
}
.android360 .placeDetailCopyTitle{
  font-size: 12;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android360 .placeDetailInfoWrap{
  width: 310;
  height: 55;
  margin-top: 24;
}
