$large : 1.5;

.android480 .loginTitleWrap{
  width: 360*$large;
  height:100*$large;
  background-color: #ffe074;
  text-align: center;
}
.android480 .loginTitleContents{
  margin-top: 26*$large;
  width: 159*$large;
  height: 20*$large;
  font-size: 14*$large;
  color: #b99000;
  font-family: nanumsquareroundeb;
}
.android480 .infoWrap{
  width: 280*$large;
  height: 260*$large;
  background-color: #ffffff;
  margin-top: -40*$large;
  border-radius: 9*$large;
}
.android480 .infoPicture{
  margin-top: 25*$large;
  width:80*$large;
  height: 80*$large;
  background-color: #dddddd;
  border-radius: 50*$large;
}
.android480 .infoCameraWrap{
  margin-top: -20*$large;
  margin-left: 60*$large;
  background-color: #555555;
  width:20*$large;
  height:20*$large;
  border-radius: 50*$large;
}
.android480 .infoCamera{
  color: red;
  font-size:10*$large;
  margin-top: 1*$large;
  margin-left: 0.7*$large;
}
.android480 .infoNickNameWrap{
  margin-top: 15*$large;
  width: 146*$large;
  height: 19*$large;
  text-align: center;
}
.android480 .infoNickName{
  width: 146*$large;
  height: 20*$large;
  color: #333333;
  font-size: 16*$large;
  font-family: nanumsquareroundeb;
}
.android480 .infoMyinfoWrap{
  width: 51*$large;
  height: 13*$large;
  text-align: center;
  margin-top: 8*$large;
}
.android480 .infoMyinfo{
  width: 51*$large;
  height: 12*$large;
  color: #888888;
  font-size: 10*$large;
  font-family: nanumsquareroundeb;
}
.android480 .myListWrap{
  margin-top: 24*$large;
}
.android480 .myReviewWrap{
  width: 36*$large;
  height: 48*$large;
  margin-left:25*$large;
}
.android480 .myReviewTextWrap{
  width: 30*$large;
  height: 13*$large;
  text-align: center;
}
.android480 .myReviewText{
  font-size: 10*$large;
  color: #555555;
  font-family: nanumsquareroundr;
}
.android480 .myReviewIcon{
  width: 36*$large;
  height: 36*$large;
}
.android480 .blackListWrap{
  width: 50*$large;
  height: 50*$large;
  margin-left: 56*$large;
}
.android480 .blackListIcon{
  width: 38*$large;
  height: 36*$large;
}
.android480 .blackListTextWrap{
  width: 46*$large;
  height: 13*$large;
  text-align: center;
}
.android480 .blackListText{
  font-size: 10*$large;
  font-family: nanumsquareroundr;
  color: #555555;
}
.android480 .oneToOneWrap{
  margin-top: -5*$large;
  width: 35*$large;
  height: 51*$large;
  margin-left: 58.5*$large;
}
.android480 .oneToOneIcon{
  width: 35*$large;
  height: 33*$large;
}
.android480 .oneToOneTextWrap{
  width: 38*$large;
  height: 13*$large;
  text-align: center;
}
.android480 .oneToOneText{
  font-size: 10*$large;
  font-family: nanumsquareroundr;
  color: #555555;
}
.android480 .etcListWrap{
  text-align: left;
  margin-top: 15*$large;
}
.android480 .etcList{
  height: 360*$large;
}
.android480 .etcText{
  margin-left: 65*$large;
  font-size: 12*$large;
  font-family: nanumsquareroundeb;
  color: #555555;
}
.android480 .etcTextWrap{
  margin-top: 15*$large;
  margin-bottom: 15*$large;
}
