.android360 .tistoryWrap{
  width: 360;
  height: 150;
  border-bottom-width: 2;
  border-bottom-color: #33000000;
}

.android360 .tistoryHeaderWrap{
  width: 360;
  height:27;
}
.android360 .tistoryIcon{
  margin-top: 13;
  width: 16;
  height: 16;
  margin-left: 16;
}
.android360 .tistoryTitle{
  font-size: 13;
  margin-top: 13;
  font-family: nanumsquareroundeb;
  color: #555555;
  height: 14;
  width: 250;
  margin-left: 6;
}
.android360 .tistoryMore{
  margin-top: 13;
  margin-left: 20;
  width: 36;
  height: 13;
  color: #888888;
  font-size: 12;
  font-family: nanumsquareroundeb;
}
.android360 .tistoryRightIcon{
  margin-top: 13;
  width: 18;
  height: 18;
  margin-left: -6;
}
.android360 .tistorySubWrap{
  margin-top: 11;
  margin-left: 10;
  margin-right: 10;
  padding-bottom: 9;
}

.android360 .tistoryMainWrap{
  width: 260;
  height: 90;
  margin-left: 5;
  padding-left: 9;
  margin-right: 5;
  margin-top: 5;
  margin-bottom: 5;
}
.android360 .tistoryImageWrap{
  width: 70;
  height: 70;
}
.android360 .tistoryImage{
  width: 70;
  height: 70;
  border-radius: 8;
}
.android360 .tistorySubjectWrap{
  width: 150;
  height: 35;
  margin-top: 7;

}
.android360 .tistorySubject {
  font-size: 13;
  font-family: nanumsquareroundeb;
  color: #333333;
  margin-top: 13;
  margin-left: 12;
  height: 35;
  width:150;
  line-height:6;
}

.android360 .tistoryRightBottom{
  margin-top: 9;
}

.android360 .tistoryWriteDate{
  color: #888888;
  font-size: 11;
  font-family: nanumsquareroundr;
  margin-top: 7;
  margin-left: 12;
  height: 18;
}
.android360 .tistoryWriter{
  color: #888888;
  font-size: 11;
  font-family: nanumsquareroundr;
  margin-left: 7;
  margin-top: 7;
  width: 84;
  height: 18;
}
