.android360 .findIdCompleteBar{
  width: 360;
  height: 55;
  border-bottom-color: #dddddd;
  border-bottom-width: 1;
  text-align: center;
}
.android360 .findCompleteTitleWrap{
  margin-top: 26;
}
.android360 .findCompleteTitle{
  font-family: nanumsquareroundb;
  font-size: 14;
  color: #333333;
}
.android360 .findCompleteMainWrap{
  text-align: center;
}
.android360 .findCompleteMainTitleWrap{
  margin-top: 24;
}
.android360 .findCompleteMainTitle{
  font-size: 10;
  font-family: nanumsquareroundr;
  color: #555555;
}
.android360 .findCompleteEmailWrap{
  margin-top: 23;
}
.android360 .findCompleteEmail{
  font-family: nanumsquareroundb;
  font-size: 14;
  color: #555555;
}
.android360 .findCompleteButtomWrap{
  margin-top: 43;
}
.android360 .findCompletePasswordWrap{
  width: 120;
  height: 32;
  border-radius: 16;
  border-width: 1;
  border-color: #cccccc;
  margin-left: 47;
}
.android360 .findCompletePassword{
  color: #555555;
  font-family: nanumsquareroundb;
  height: 14;
  font-size: 12;
  margin-top: 9;
}
.android360 .findCompleteLoginWrap{
  width: 120;
  height: 32;
  border-radius: 16;
  border-width: 1;
  border-color: #ffe074;
  background-color: #ffe074;
  margin-left: 32;
}
.android360 .findCompleteLogin{
  color: #555555;
  font-family: nanumsquareroundb;
  height: 14;
  font-size: 12;
  margin-top: 9;
}
