$large : 1.5;

.android480 .phoneCertWrap{
  width: 100*$large;
  margin-top: 40*$large;
  height: 31*$large;
  background-color: #dddddd;
  border-radius: 6*$large;
  text-align: center;
  margin-left: 18*$large;
}
.android480 .phoneCertWrap2{
  width: 100*$large;
  margin-top: 40*$large;
  height: 31*$large;
  background-color: #333333;
  border-radius: 6*$large;
  text-align: center;
  margin-left: 18*$large;
}
