.android360 .phoneCertWrap{
  width: 100;
  margin-top: 40;
  height: 31;
  background-color: #dddddd;
  border-radius: 6;
  text-align: center;
  margin-left: 18;
}
.android360 .phoneCertWrap2{
  width: 100;
  margin-top: 40;
  height: 31;
  background-color: #333333;
  border-radius: 6;
  text-align: center;
  margin-left: 18;
}
