.android360 .serviceTermsHeaderWrap{
  height: 55;
  width: 360;
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
}
.android360 .serviceTermsHeaderWrapWrap{
  width: 192;
  margin-top: 21;
  margin-left: 134;
}
.android360 .serviceTermsHeader{
  font-size: 14;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android360 .serviceTermsHeaderIconWrap{
  height: 30;
  width: 30;
  margin-top: 7;
}
.android360 .serviceTermsTitleWrap{
  margin-top: 19;
  margin-left: 15;
}
.android360 .serviceTermsTitle{
  font-family: nanumsquareroundb;
  font-size: 14;
  color: #333333;
}
.android360 .serviceTermsListWrap{
  margin-top: 13;
  margin-left: 15;
}
.android360 .serviceTermsList{
  font-size: 11;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android360 .serviceTermsContentsWrap{
  padding-left: 10;
  padding-right: 10;
}
.android360 .serviceTermsContents{
  font-family: nanumsquareroundr;
  font-size: 11;
  color: #333333;
  line-height:5;
  background-color: #ffffff;
}
