$large : 1.5;

.android480 .serviceTermsHeaderWrap{
  height: 55*$large;
  width: 360*$large;
  border-bottom-width: 1*$large;
  border-bottom-color: #dddddd;
}
.android480 .serviceTermsHeaderWrapWrap{
  width: 192*$large;
  margin-top: 21*$large;
  margin-left: 134*$large;
}
.android480 .serviceTermsHeader{
  font-size: 14*$large;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android480 .serviceTermsHeaderIconWrap{
  height: 30*$large;
  width: 30*$large;
  margin-top: 7*$large;
}
.android480 .serviceTermsTitleWrap{
  margin-top: 19*$large;
  margin-left: 15*$large;
}
.android480 .serviceTermsTitle{
  font-family: nanumsquareroundb;
  font-size: 14*$large;
  color: #333333;
}
.android480 .serviceTermsListWrap{
  margin-top: 13*$large;
  margin-left: 15*$large;
}
.android480 .serviceTermsList{
  font-size: 11*$large;
  color: #333333;
  font-family: nanumsquareroundb;
}
.android480 .serviceTermsContentsWrap{
  padding-left: 10*$large;
  padding-right: 10*$large;
}
.android480 .serviceTermsContents{
  font-family: nanumsquareroundr;
  font-size: 11*$large;
  color: #333333;
  line-height:5*$large;
  background-color: #ffffff;
}

